.button {
  width: 100%;
  border-radius: $border-radius;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  user-select: none;
  position: relative;
  box-shadow: 0 4px 24px $color-shadow;
  transition: .3s;

  & + & {
    margin-top: 10px;
  }

  &--sm {
    height: 25px;
    font-size: 12px;
    width: max-content;
    padding: 0 10px;
  }

  &--md {
    height: 33px;
    font-size: 11px;
    width: max-content;
    padding: 0 10px;
    i{
      font-size: 15px!important;
    }
  }

  &--red {
    background-color: $color-red;
    color: #FFF;
    border: 1px solid $color-red;

    &:active, &:focus {
      background-color: $color-red--dark;
    }
  }

  &--orange {
    background-color: $color-orange;
    color: #FFF;
    border: 1px solid $color-orange;

    &:active, &:focus {
      background-color: $color-orange--dark;
    }
  }

  &--gray {
    background-color: #ddd;
    color: #333;
  }


  &--outline-red {
    border: 1px solid $color-red;
    color: $color-red;
    box-shadow: none;

    &:active, &:focus {
      background-color: $color-red;
      color: #fff;
    }
  }

  &--light {
    background-color: $color-button-light;
    border: 1px solid $color-text;

    &:active, &:focus {
      background-color: $color-button-light--focus;
    }
  }

  &--icon {
    img, i, svg {
      width: 1em;
      height: 1em;
      font-size: 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &--left {
      img, i, svg {
        left: 10px;
      }
    }

    &--right {
      img, i, svg {
        right: 10px;
      }
    }
  }

  &--xs {
    display: inline-flex;
    font-size: 14px;
  }
}

.button-group {
  justify-content: space-between;

  .button {
    width: calc(50% - 7px);
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      position: static;
      margin-right: 5px;
      transform: unset;
    }
  }
}