.button {
  width: 100%;
  border-radius: $border-radius;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  user-select: none;
  position: relative;
  box-shadow: 0 4px 24px $color-shadow;

  & + & {
    margin-top: 10px;
  }

  &--red {
    background-color: $color-red;
    color: #FFF;

    &:active, &:focus {
      background-color: $color-red--dark;
    }
  }

  &--light {
    background-color: $color-button-light;

    &:active, &:focus {
      background-color: $color-button-light--focus;
    }
  }

  &--icon {
    &--left {
      img, i, svg {
        width: 1em;
        height: 1em;
        font-size: 20px;
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &--xs {
    display: inline-flex;
    font-size: 14px;
  }
}