.input-wrapper {
  position: relative;
  width: 100%;

  & + & {
    margin-top: 20px;
  }

  .input-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }

  &.password {
    .input {
      padding-right: 40px;
    }

    .password-see {
      position: absolute;
      height: 43px;
      width: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 0;
      top: 0;
      i:last-child{
        display: none;
      }
      &.active{
        i{
          display: none;
        }
        i:last-child{
          display: block;
        }
      }
    }
  }
}

.input {
  border: 1px solid transparent;
  color: $color-text;
  border-radius: $border-radius;
  padding: $input-padding;
  width: 100%;
  background: transparent;
  padding-left: 35px;
  box-shadow: 0 4px 24px -5px $color-shadow;

  &:focus {
    border-color: $color-border;
    outline: 0;

    .input-icon {
      color: $color-border--focus;
    }
  }

  &::placeholder {
    color: $color-light;
    font-weight: 300;
  }
}

.input-icon {
  color: $color-border;
  font-size: 18px;
  user-select: none;
}
