$input-br: 6px;
$input-padding: 10px;
form {
  label {
    font-weight: 500;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: 0.4px;

    &.required {
      &:after {
        content: '(*)';
        margin-left: 5px;
        color: $color-red;
      }
    }
  }
}

.form {
  &-control {
    border: 0;
    background-color: $color-form-bg;
    font-size: 18px;
    letter-spacing: 0.45px;
    height: 60px;
    border-radius: 0;
    transition: .15s;
    padding: 10px 25px;
    color: $color-text;

    &::placeholder {
      color: rgba($color-text, .5);
    }

    &:focus {
      outline: 0;
      border: 0;
      background-color: $color-form-bg;
      box-shadow: none;
    }
  }
}

textarea.form-control {
  padding: 25px;
}

.input {
  &-group {
    &-divider {
      background-color: $color-form-bg;
      width: 10px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        content: '';
        display: block;
        height: 30px;
        width: 3px;
        border-left: 1px solid #707070;
        opacity: .3;
      }
    }
  }
}
