extends blocks/layout
block vars

block append head
    title Şifremi Unuttum
block append svg

block content
    .maincontainer
        .device-container
            .safearea
                .loginarea-image.forgotpassword
                    .loginarea-image-title Şifremi Unuttum
                .loginarea-form.forgotpassword
                    .input-wrapper
                        i.icon-mail.input-icon
                        input.input(type="text",placeholder="E-mail")
                    .button.button--red.mt-3 Şifremi Yenile
                    small.mb-2.mt-3.d-block
                        | Şifrenizi yenilemeniz için kayıtlı mail adresinize bir mail göndereceğiz.
                    .loginarea-text.mt-3
                        span Şifreni hatıladın mı?
                        a Hemen Giriş Yap





