extends blocks/layout
block vars

block append head
    title Forgot Password
block append svg

block content
    .maincontainer
        .device-container
            .safearea
                .loginarea-image.forgotpassword
                    .loginarea-image-title(data-i18n="forgotPassword.title") Forgot Password
                .loginarea-form.forgotpassword
                    .input-wrapper
                        i.icon-mail.input-icon
                        input.input(type="text",placeholder="E-mail")
                    .button.button--red.mt-3(data-i18n="forgotPassword.resetButton") Reset Password
                    small.mb-2.mt-3.d-block
                        span(data-i18n="forgotPassword.emailInfo") We will send an email to your registered email address to reset your password.
                    .loginarea-text.mt-3
                        span(data-i18n="forgotPassword.rememberPassword") Remembered your password?
                        a(data-i18n="forgotPassword.loginNow") Sign In Now





