extends blocks/layout
block vars

block append head
    title Forgot Password
block append svg

block content
    .maincontainer
        .device-container
            .safearea
                .loginarea-image.forgotpassword
                    .loginarea-image-title(data-i18n="forgotPassword.title") Forgot Password
                .loginarea-form.forgotpassword
                    p.mb-3.d-block
                        span(data-i18n="forgotPasswordConfirm.fillForm") Please fill out the form below to reset your password.
                    .input-wrapper.password
                        i.icon-lock.input-icon
                        input.input(type="password",placeholder="Password",data-i18n-placeholder="login.password")
                        .password-see(onclick="togglePassSee()")
                            i.icon-eye-close
                            i.icon-eye
                    .input-wrapper.password
                        i.icon-lock.input-icon
                        input.input(type="password",placeholder="Repeat Password",data-i18n-placeholder="signup.passwordRepeat")
                        .password-see(onclick="togglePassSee()")
                            i.icon-eye-close
                            i.icon-eye
                    .button.button--red.mt-3(data-i18n="forgotPassword.resetButton") Reset Password

                    .loginarea-text.mt-3
                        span(data-i18n="forgotPassword.rememberPassword") Remembered your password?
                        a(href="#",data-i18n="forgotPassword.loginNow") Sign In Now





