extends blocks/layout
block vars
    - var index = true;

block append head
    title index
block append svg

block content
    .maincontainer
        .device-container
            .safearea
                .back.back-w-title
                    a(href="profile.html").back-item
                        i.icon-chevron-left
                    .title Favori Restoranlarım
                .within_back_area
                    .profile
                        .profile-content
                            .form-content
                                .profile-content__title
                                    i.icon-bookmark.mr-2
                                    | FAVORİ RESTORANLARIM
                                .profile-content-info.mt-0
                                    i.icon-info
                                    | Lorem ipsum dolor sit amet.
                                .divider.divider--small
                                .henuz-yok
                                    .henuz-yok__icon
                                        img(src="https://www.flaticon.com/svg/static/icons/svg/1257/1257069.svg")
                                    .henuz-yok__title Favori Restoran Yok
                                    .henuz-yok__text Ama üzülme hemen en güzel restoranları keşfet.

                                    .henuz-yok__button.button.button--red Restoranları Gör