extends blocks/layout
block vars
    - var index = true;

block append head
    title index
block append svg

block content
    .maincontainer
        .device-container
            .safearea
                .main
                    .main-content
                        .main-content-header
                            .logo-wrapper
                                img(src="img/logo2.svg")
                            .scan_code
                                i.icon-qr-code-scan

                        .welcome_area
                            .welcome_area-title Hoşgeldin
                                span Mehmet
                            .welcome_area-subtitle Hemen yemeklerine bayılacağın restoranı keşfet
                        .search_area
                            small.location
                                .location-icon
                                    i.icon-map-pin
                                .location-text
                                    | Kdz. Ereğli / Zonguldak
                            .input-wrapper.search
                                i.icon-search.input-icon
                                input.input(type="text",placeholder="Şimdi Keşfet...")
                                .filter.js-open-search-filter-modal
                                    i.icon-filter.input-icon
                        .food_category
                            .see_all-wrapper
                                .see_all-title Kategoriler
                                .see_all-button Hepsini Gör
                                    i.icon-arrow-right
                            .food_category-slider
                                .food_category-item
                                    .food_category-item-image
                                        img(src="img/categories/burger.png")
                                    .food_category-item-title Burger
                                .food_category-item
                                    .food_category-item-image
                                        img(src="img/categories/makarna.png")
                                    .food_category-item-title Makarna
                                .food_category-item
                                    .food_category-item-image
                                        img(src="img/categories/kahve.png")
                                    .food_category-item-title Kahve
                                .food_category-item
                                    .food_category-item-image
                                        img(src="img/categories/kebap.png")
                                    .food_category-item-title Kebap
                                .food_category-item
                                    .food_category-item-image
                                        img(src="img/categories/steak.png")
                                    .food_category-item-title Steak
                                .food_category-item
                                    .food_category-item-image
                                        img(src="img/categories/burger.png")
                                    .food_category-item-title Kahve
                                .food_category-item
                                    .food_category-item-image
                                        img(src="img/categories/burger.png")
                                    .food_category-item-title Burger
                                .food_category-item
                                    .food_category-item-image
                                        img(src="img/categories/makarna.png")
                                    .food_category-item-title Makarna
                                .food_category-item
                                    .food_category-item-image
                                        img(src="img/categories/kahve.png")
                                    .food_category-item-title Kahve
                                .food_category-item
                                    .food_category-item-image
                                        img(src="img/categories/kebap.png")
                                    .food_category-item-title Kebap
                                .food_category-item
                                    .food_category-item-image
                                        img(src="img/categories/steak.png")
                                    .food_category-item-title Steak
                                .food_category-item
                                    .food_category-item-image
                                        img(src="img/categories/burger.png")
                                    .food_category-item-title Kahve
                        .restaruants
                            .see_all-wrapper
                                .see_all-title Yakınındaki Restoranlar
                                .see_all-button Hepsini Gör
                                    i.icon-arrow-right
                            .restaruants-slider
                                .restaruant-item
                                    .restaruant-item-image
                                        img(src="img/restaruant/gunaydin.jpg")
                                        .restaruant-item-image__fav
                                            i.icon-heart-o
                                    .restaruant-item-content
                                        .title Günaydın Steak House
                                        .category Türk Mutfağı - Izgara
                                        .restaruant-item-content-footer
                                            .rating
                                                i.icon.icon-star
                                                span 4.2
                                            .distance
                                                i.icon.icon-map-pin
                                                span < 0.5 Km
                                            .pins
                                                i.icon.icon-guitar
                                                i.icon.icon-yes-smoking
                                                i.icon.icon-no-smoking

                                .restaruant-item
                                    .restaruant-item-image
                                        img(src="img/restaruant/starbucks.jpg")
                                        .restaruant-item-image__fav.fill
                                            i.icon-heart
                                    .restaruant-item-content
                                        .title Starbucks Coffee
                                        .category Cafe - Pastane
                                        .restaruant-item-content-footer
                                            .rating
                                                i.icon.icon-star
                                                span 4.2
                                            .distance
                                                i.icon.icon-map-pin
                                                span 2.5 Km

                    include blocks/tabbar
                    #search_filter_modal.bottom-modal
                        .bottom-modal__divider(onclick='$("#search_filter_modal").removeClass("active")')
                            span
                        .bottom-modal-content
                            .search-filter
                                .search-filter__clear
                                    i.icon.icon-trash-2.mr-2
                                    span Filtreleri Temizle
                                .search-filter-section
                                    .search-filter-section__title Konum
                                        span Konum Değiştir
                                    .location.d-flex
                                        .location-icon.mr-1
                                            i.icon-map-pin
                                        .location-text
                                            | Kdz. Ereğli / Zonguldak
                                .divider
                                .search-filter-section
                                    .search-filter-section__title Mesafe
                                        span 1 Km İçinde
                                    .line-filter
                                        .line-filter__text 1Km
                                        .line-filter__bar
                                            span.line-filter__circle
                                        .line-filter__text 10 Km

                                .divider
                                .search-filter-section
                                    .search-filter-section__title Restoran İçi Özellikler
                                    label.switch(for='switch1').search-filter-item
                                        .search-filter-item-left
                                            .search-filter-item__title Wifi
                                            .search-filter-item__subtitle Restoran içi ücretsiz wifi
                                        .search-filter-item-right
                                            input#switch1.switch__input(type='checkbox' checked='')
                                            span.switch__toggle
                                    label.switch(for='switch2').search-filter-item
                                        .search-filter-item-left
                                            .search-filter-item__title Canlı Müzik
                                            .search-filter-item__subtitle Canlı Müzik Keyfi
                                        .search-filter-item-right
                                            input#switch2.switch__input(type='checkbox' checked='')
                                            span.switch__toggle
                                    label.switch(for='switch3').search-filter-item
                                        .search-filter-item-left
                                            .search-filter-item__title Sigara İçilebilir Alan
                                        .search-filter-item-right
                                            input#switch3.switch__input(type='checkbox')
                                            span.switch__toggle
                                    label.switch(for='switch4').search-filter-item
                                        .search-filter-item-left
                                            .search-filter-item__title Sigara İçilmeyen Alan
                                            .search-filter-item__subtitle Bu alanda dumansız keyif sürebilirsiniz
                                        .search-filter-item-right
                                            input#switch4.switch__input(type='checkbox' checked='')
                                            span.switch__toggle
                                .divider
                                .search-filter-section
                                    .search-filter-section__title Ödeme Seçenekleri
                                    label.switch(for='switch11').search-filter-item
                                        .search-filter-item-left
                                            .search-filter-item__title Hepsi
                                            .search-filter-item__subtitle Tüm ödeme seçeneklerini dahil eder
                                        .search-filter-item-right
                                            input#switch11.switch__input(type='checkbox' checked='')
                                            span.switch__toggle
                                    label.switch(for='switch22').search-filter-item
                                        .search-filter-item-left
                                            .search-filter-item__title Sodexo
                                        .search-filter-item-right
                                            input#switch22.switch__input(type='checkbox' checked='')
                                            span.switch__toggle
                                    label.switch(for='switch3').search-filter-item
                                        .search-filter-item-left
                                            .search-filter-item__title Ticket
                                        .search-filter-item-right
                                            input#switch33.switch__input(type='checkbox')
                                            span.switch__toggle
                                    label.switch(for='switch44').search-filter-item
                                        .search-filter-item-left
                                            .search-filter-item__title Online Ödeme
                                        .search-filter-item-right
                                            input#switch44.switch__input(type='checkbox' checked='')
                                            span.switch__toggle
                                .search-filter-section
                                    .search-filter-section__title Ödeme Seçenekleri
                                    label.switch(for='switch111').search-filter-item
                                        .search-filter-item-left
                                            .search-filter-item__title Hepsi
                                            .search-filter-item__subtitle Tüm ödeme seçeneklerini dahil eder
                                        .search-filter-item-right
                                            input#switch111.switch__input(type='checkbox' checked='')
                                            span.switch__toggle
                                    label.switch(for='switch222').search-filter-item
                                        .search-filter-item-left
                                            .search-filter-item__title Sodexo
                                        .search-filter-item-right
                                            input#switch222.switch__input(type='checkbox' checked='')
                                            span.switch__toggle
                                    label.switch(for='switch333').search-filter-item
                                        .search-filter-item-left
                                            .search-filter-item__title Ticket
                                        .search-filter-item-right
                                            input#switch333.switch__input(type='checkbox')
                                            span.switch__toggle
                                    label.switch(for='switch444').search-filter-item
                                        .search-filter-item-left
                                            .search-filter-item__title Online Ödeme
                                        .search-filter-item-right
                                            input#switch444.switch__input(type='checkbox' checked='')
                                            span.switch__toggle
                                .search-filter__apply-button.button.button--red.button--icon.button--icon--right
                                    span Filtreleri Uygula
                                    i.icon.icon-arrow-right
                    #checkin.bottom-modal
                        .bottom-modal__divider(onclick='$("#checkin").removeClass("active")')
                            span
                        .bottom-modal-content
                            .bottom-modal-content__title Rezervasyonun Yaklaşıyor
                            p.bottom-modal-content__text
                                | Bir adet rezervasyonun yaklaşıyor. Lütfen checkin yaparak rezervasyonunuzu onaylayın.
                                div.mt-1
                                    | Kalan Süre:
                                    b.ml-1 5 Saat 22 Dk
                            .divider
                            .rezervasyon-detay
                                .rezervasyon-detay-item
                                    .rezervasyon-detay-item__icon
                                        i.icon-home
                                    .rezervasyon-detay-item__text
                                        | Günaydın Steak House
                                .rezervasyon-detay-item
                                    .rezervasyon-detay-item__icon
                                        i.icon-user
                                    .rezervasyon-detay-item__text
                                        | 5 Kişilik
                                .rezervasyon-detay-item
                                    .rezervasyon-detay-item__icon
                                        i.icon-calendar
                                    .rezervasyon-detay-item__text
                                        | 22 Ekim 2021
                                .rezervasyon-detay-item
                                    .rezervasyon-detay-item__icon
                                        i.icon-clock
                                    .rezervasyon-detay-item__text
                                        | 19:00

                            .apply-button.d-flex.mt-20.button-group
                                .button.button--light.button--icon.button--icon--left
                                    i.icon-x-circle
                                    span İptal Et
                                .button.button--red.button--icon.button--icon--left
                                    i.icon-check
                                    span Onayla
                            p.bottom-modal-content__text.mt-3 Not: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam consectetur dolores doloribus ea expedita.







