extends blocks/layout
block vars
    - var index = true;

block append head
    title index
block append svg

block content
    .maincontainer
        .device-container
            .safearea
                .main
                    .main-content
                        .main-content-header
                            .logo-wrapper
                                img(src="img/logo2.svg")
                            .scan_code
                                i.icon-qr-code-scan

                        .welcome_area
                            .welcome_area-title(data-i18n="index.welcome") Welcome
                                span Mehmet
                            .welcome_area-subtitle(data-i18n="index.subtitle") Discover the restaurant whose food you'll love
                        .search_area
                            small.location
                                .location-icon
                                    i.icon-map-pin
                                .location-text
                                    | Kdz. Ereğli / Zonguldak
                            .input-wrapper.search
                                i.icon-search.input-icon
                                input.input(type="text",placeholder="Discover Now...",data-i18n-placeholder="index.discoverNow")
                                .filter.js-open-search-filter-modal
                                    i.icon-filter.input-icon
                        .food_category
                            .see_all-wrapper
                                .see_all-title(data-i18n="index.categories") Categories
                                .see_all-button(data-i18n="common.seeAll") See All
                                    i.icon-arrow-right
                            .food_category-slider
                                .food_category-item
                                    .food_category-item-image
                                        img(src="img/categories/burger.png")
                                    .food_category-item-title(data-i18n="category.burger") Burger
                                .food_category-item
                                    .food_category-item-image
                                        img(src="img/categories/makarna.png")
                                    .food_category-item-title(data-i18n="category.pasta") Pasta
                                .food_category-item
                                    .food_category-item-image
                                        img(src="img/categories/kahve.png")
                                    .food_category-item-title(data-i18n="category.coffee") Coffee
                                .food_category-item
                                    .food_category-item-image
                                        img(src="img/categories/kebap.png")
                                    .food_category-item-title(data-i18n="category.kebab") Kebab
                                .food_category-item
                                    .food_category-item-image
                                        img(src="img/categories/steak.png")
                                    .food_category-item-title(data-i18n="category.steak") Steak
                                .food_category-item
                                    .food_category-item-image
                                        img(src="img/categories/burger.png")
                                    .food_category-item-title(data-i18n="category.coffee") Coffee
                                .food_category-item
                                    .food_category-item-image
                                        img(src="img/categories/burger.png")
                                    .food_category-item-title(data-i18n="category.burger") Burger
                                .food_category-item
                                    .food_category-item-image
                                        img(src="img/categories/makarna.png")
                                    .food_category-item-title(data-i18n="category.pasta") Pasta
                                .food_category-item
                                    .food_category-item-image
                                        img(src="img/categories/kahve.png")
                                    .food_category-item-title(data-i18n="category.coffee") Coffee
                                .food_category-item
                                    .food_category-item-image
                                        img(src="img/categories/kebap.png")
                                    .food_category-item-title(data-i18n="category.kebab") Kebab
                                .food_category-item
                                    .food_category-item-image
                                        img(src="img/categories/steak.png")
                                    .food_category-item-title(data-i18n="category.steak") Steak
                                .food_category-item
                                    .food_category-item-image
                                        img(src="img/categories/burger.png")
                                    .food_category-item-title(data-i18n="category.coffee") Coffee
                        .restaruants
                            .see_all-wrapper
                                .see_all-title(data-i18n="index.nearbyRestaurants") Nearby Restaurants
                                .see_all-button(data-i18n="common.seeAll") See All
                                    i.icon-arrow-right
                            .restaruants-slider
                                .restaruant-item
                                    .restaruant-item-image
                                        img(src="img/restaruant/gunaydin.jpg")
                                        .restaruant-item-image__fav
                                            i.icon-heart-o
                                    .restaruant-item-content
                                        .title Günaydın Steak House
                                        .category(data-i18n="restaurantType.turkishGrill") Turkish Cuisine - Grill
                                        .restaruant-item-content-footer
                                            .rating
                                                i.icon.icon-star
                                                span 4.2
                                            .distance
                                                i.icon.icon-map-pin
                                                span < 0.5 Km
                                            .pins
                                                i.icon.icon-guitar
                                                i.icon.icon-yes-smoking
                                                i.icon.icon-no-smoking

                                .restaruant-item
                                    .restaruant-item-image
                                        img(src="img/restaruant/starbucks.jpg")
                                        .restaruant-item-image__fav.fill
                                            i.icon-heart
                                    .restaruant-item-content
                                        .title Starbucks Coffee
                                        .category(data-i18n="restaurantType.cafePastry") Cafe - Pastry
                                        .restaruant-item-content-footer
                                            .rating
                                                i.icon.icon-star
                                                span 4.2
                                            .distance
                                                i.icon.icon-map-pin
                                                span 2.5 Km

                    include blocks/tabbar
                    #search_filter_modal.bottom-modal
                        .bottom-modal__divider(onclick='$("#search_filter_modal").removeClass("active")')
                            span
                        .bottom-modal-content
                            .search-filter
                                .search-filter__clear
                                    i.icon.icon-trash-2.mr-2
                                    span(data-i18n="filter.clearFilters") Clear Filters
                                .search-filter-section
                                    .search-filter-section__title(data-i18n="filter.location") Location
                                        span(data-i18n="filter.changeLocation") Change Location
                                    .location.d-flex
                                        .location-icon.mr-1
                                            i.icon-map-pin
                                        .location-text
                                            | Kdz. Ereğli / Zonguldak
                                .divider
                                .search-filter-section
                                    .search-filter-section__title(data-i18n="filter.distance") Distance
                                        span(data-i18n="filter.withinKm") Within 1 Km
                                    .line-filter
                                        .line-filter__text 1Km
                                        .line-filter__bar
                                            span.line-filter__circle
                                        .line-filter__text 10 Km

                                .divider
                                .search-filter-section
                                    .search-filter-section__title(data-i18n="filter.restaurantFeatures") In-Restaurant Features
                                    label.switch(for='switch1').search-filter-item
                                        .search-filter-item-left
                                            .search-filter-item__title(data-i18n="filter.wifi") Wifi
                                            .search-filter-item__subtitle(data-i18n="filter.wifiFree") Free wifi in restaurant
                                        .search-filter-item-right
                                            input#switch1.switch__input(type='checkbox' checked='')
                                            span.switch__toggle
                                    label.switch(for='switch2').search-filter-item
                                        .search-filter-item-left
                                            .search-filter-item__title(data-i18n="filter.liveMusic") Live Music
                                            .search-filter-item__subtitle(data-i18n="filter.liveMusicEnjoy") Enjoy Live Music
                                        .search-filter-item-right
                                            input#switch2.switch__input(type='checkbox' checked='')
                                            span.switch__toggle
                                    label.switch(for='switch3').search-filter-item
                                        .search-filter-item-left
                                            .search-filter-item__title(data-i18n="filter.smokingArea") Smoking Area
                                        .search-filter-item-right
                                            input#switch3.switch__input(type='checkbox')
                                            span.switch__toggle
                                    label.switch(for='switch4').search-filter-item
                                        .search-filter-item-left
                                            .search-filter-item__title(data-i18n="filter.nonSmokingArea") Non-Smoking Area
                                            .search-filter-item__subtitle(data-i18n="filter.nonSmokingDesc") Enjoy a smoke-free experience in this area
                                        .search-filter-item-right
                                            input#switch4.switch__input(type='checkbox' checked='')
                                            span.switch__toggle
                                .divider
                                .search-filter-section
                                    .search-filter-section__title(data-i18n="filter.paymentOptions") Payment Options
                                    label.switch(for='switch11').search-filter-item
                                        .search-filter-item-left
                                            .search-filter-item__title(data-i18n="filter.all") All
                                            .search-filter-item__subtitle(data-i18n="filter.allPaymentDesc") Includes all payment options
                                        .search-filter-item-right
                                            input#switch11.switch__input.js-filter-all(type='checkbox' checked='')
                                            span.switch__toggle
                                    label.switch(for='switch22').search-filter-item
                                        .search-filter-item-left
                                            .search-filter-item__title Sodexo
                                        .search-filter-item-right
                                            input#switch22.switch__input(type='checkbox' checked='')
                                            span.switch__toggle
                                    label.switch(for='switch33').search-filter-item
                                        .search-filter-item-left
                                            .search-filter-item__title Ticket
                                        .search-filter-item-right
                                            input#switch33.switch__input(type='checkbox')
                                            span.switch__toggle
                                    label.switch(for='switch44').search-filter-item
                                        .search-filter-item-left
                                            .search-filter-item__title(data-i18n="filter.onlinePayment") Online Payment
                                        .search-filter-item-right
                                            input#switch44.switch__input(type='checkbox' checked='')
                                            span.switch__toggle
                                .search-filter__apply-button.button.button--red.button--icon.button--icon--right
                                    span(data-i18n="filter.applyFilters") Apply Filters
                                    i.icon.icon-arrow-right
                    #checkin.bottom-modal
                        .bottom-modal__divider(onclick='$("#checkin").removeClass("active")')
                            span
                        .bottom-modal-content
                            .bottom-modal-content__title(data-i18n="checkin.title") Your Reservation is Coming Up
                            p.bottom-modal-content__text(data-i18n="checkin.desc")
                                | You have a reservation coming up. Please check in to confirm your reservation.
                                div.mt-1
                                    span(data-i18n="checkin.timeRemaining") Time Remaining:
                                    b.ml-1(data-i18n="checkin.hoursMinutes") 5 Hours 22 Min
                            .divider
                            .rezervasyon-detay
                                .rezervasyon-detay-item
                                    .rezervasyon-detay-item__icon
                                        i.icon-home
                                    .rezervasyon-detay-item__text
                                        | Günaydın Steak House
                                .rezervasyon-detay-item
                                    .rezervasyon-detay-item__icon
                                        i.icon-user
                                    .rezervasyon-detay-item__text(data-i18n="reservations.people5")
                                        | 5 People
                                .rezervasyon-detay-item
                                    .rezervasyon-detay-item__icon
                                        i.icon-calendar
                                    .rezervasyon-detay-item__text
                                        | October 22, 2021
                                .rezervasyon-detay-item
                                    .rezervasyon-detay-item__icon
                                        i.icon-clock
                                    .rezervasyon-detay-item__text
                                        | 19:00

                            .apply-button.d-flex.mt-20.button-group
                                .button.button--light.button--icon.button--icon--left
                                    i.icon-x-circle
                                    span(data-i18n="common.cancel") Cancel
                                .button.button--red.button--icon.button--icon--left
                                    i.icon-check
                                    span(data-i18n="common.confirm") Confirm
                            p.bottom-modal-content__text.mt-3 Note: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam consectetur dolores doloribus ea expedita.




