extends blocks/layout
block vars

block append head
    title Login
block append svg

block content
    .maincontainer
        .device-container
            .safearea
                .loginarea-image
                    .loginarea-image-title(data-i18n="login.title") LOGIN
                .loginarea-form
                    .input-wrapper
                        i.icon-mail.input-icon
                        input.input(type="text",placeholder="E-mail")
                    .input-wrapper.password
                        i.icon-lock.input-icon
                        input.input(type="password",placeholder="Password",data-i18n-placeholder="login.password")
                        .password-see(onclick="togglePassSee()")
                            i.icon-eye-close
                            i.icon-eye
                    .button.button--red.mt-3(data-i18n="login.loginButton") Login
                    .loginarea-form-forgetpass(data-i18n="login.forgotPassword") Forgot your password?
                    .button.button--light.button--icon.button--icon--left
                        img(src="img/facebook.svg")
                        span(data-i18n="login.facebookLogin") Sign In with Facebook
                    .button.button--light.button--icon.button--icon--left
                        img(src="img/google.svg")
                        span(data-i18n="login.googleLogin") Sign In with Google
                    .loginarea-text.mt-3
                        span(data-i18n="login.noAccount") Don't have an account?
                        a(data-i18n="login.registerNow") Register Now





