extends blocks/layout
block vars
    - var index = true;

block append head
    title index
block append svg

block content
    .maincontainer
        .device-container
            .safearea
                .back.back-w-title
                    a(href="profile.html").back-item
                        i.icon-chevron-left
                    .title(data-i18n="previousOrders.title") Previous Orders
                .within_back_area
                    .profile
                        .profile-content
                            .profile-content__title
                                i.icon-shopping-cart.mr-2
                                span(data-i18n="previousOrders.titleUpper") PREVIOUS ORDERS
                            .profile-content-info.mt-0
                                i.icon-info
                                | Lorem ipsum dolor sit amet.
                            .divider.divider--small
                            .search_area.mb-10.mt-10
                                .input-wrapper.search
                                    input.no-icon.input(type="text",data-i18n-placeholder="previousOrders.searchPlaceholder",placeholder="Search my orders")
                                    .filter.js-open-search-filter-modal
                                        i.icon-search.input-icon
                            .order-item
                                .order-item-image
                                    img(src="img/restaruant/gunaydin2.jpg")
                                .order-item-content
                                    .order-item-content__title Günaydın Steak House
                                    .order-item-content__date November 22, 2020
                                    .order-item-content__text
                                        span 3x Tea
                                        span 1x Magnolia
                                        span 2x Chef's Special Pastrami Baked Beans
                                        span 3x Tea
                                        span 1x Magnolia
                                        span 2x Chef's Special Pastrami Baked Beans
                                        span 1x Water
                                        span 1x Water
                                    .order-item-content__amount
                                        div(data-i18n="common.totalAmount") Total Amount
                                        span 123.53 TL
                            .order-item.mt-10
                                .order-item-image
                                    img(src="img/restaruant/gunaydin2.jpg")
                                .order-item-content
                                    .order-item-content__title Günaydın Steak House
                                    .order-item-content__date November 22, 2020
                                    .order-item-content__text
                                        span 3x Tea
                                        span 1x Magnolia
                                        span 2x Chef's Special Pastrami Baked Beans
                                        span 3x Tea
                                        span 1x Magnolia
                                        span 2x Chef's Special Pastrami Baked Beans
                                        span 1x Water
                                        span 1x Water
                                    .order-item-content__amount
                                        div(data-i18n="common.totalAmount") Total Amount
                                        span 123.53 TL
                            .order-item.mt-10
                                .order-item-image
                                    img(src="img/restaruant/starbucks.jpg")
                                .order-item-content
                                    .order-item-content__title Starbucks
                                    .order-item-content__date November 24, 2020
                                    .order-item-content__text
                                        span 3x Tea
                                        span 1x Magnolia
                                        span 2x Chef's Special Pastrami Baked Beans
                                        span 3x Tea
                                    .order-item-content__amount
                                        div(data-i18n="common.totalAmount") Total Amount
                                        span 123.53 TL