extends blocks/layout
block vars
    - var index = true;

block append head
    title index
block append svg

block content
    .maincontainer
        .device-container
            .safearea
                .back.back-w-title
                    a(href="profile.html").back-item
                        i.icon-chevron-left
                    .title(data-i18n="profile.security") Security
                .within_back_area
                    .profile
                        .profile-content
                            .form-content
                                .profile-content__title
                                    i.icon-lock.mr-2
                                    span(data-i18n="security.updatePassword") UPDATE PASSWORD
                                .profile-content-info.mt-0
                                    i.icon-info
                                    span(data-i18n="security.updatePasswordDesc") You can update your password.
                                .divider.divider--small
                                .input-group
                                    .input-group-title(data-i18n="security.oldPassword") Old Password
                                    .input-wrapper.password
                                        i.icon-lock.input-icon
                                        input.input(type="password",data-i18n-placeholder="security.oldPassword",placeholder="Old Password")
                                        .password-see(onclick="togglePassSee()")
                                            i.icon-eye-close
                                            i.icon-eye
                                .input-group
                                    .input-group-title(data-i18n="security.newPassword") New Password
                                    .input-wrapper.password
                                        i.icon-lock.input-icon
                                        input.input(type="password",data-i18n-placeholder="security.newPassword",placeholder="New Password")
                                        .password-see(onclick="togglePassSee()")
                                            i.icon-eye-close
                                            i.icon-eye
                                .input-group
                                    .input-group-title(data-i18n="security.newPasswordRepeat") Repeat New Password
                                    .input-wrapper.password
                                        i.icon-lock.input-icon
                                        input.input(type="password",data-i18n-placeholder="security.newPasswordRepeat",placeholder="Repeat New Password")
                                        .password-see(onclick="togglePassSee()")
                                            i.icon-eye-close

                                .button.button--red.mt-20(data-i18n="common.update") Update




