extends blocks/layout
block vars
    - var index = true;

block append head
    title index
block append svg

block content
    .maincontainer
        .device-container
            .safearea
                .back.back-w-title
                    a(href="profile.html").back-item
                        i.icon-chevron-left
                    .title(data-i18n="profile.profileInfo") My Profile Info
                .within_back_area
                    .profile
                        .profile-header
                            .profile-header-image
                                img(src="img/mehmet.jpg")
                            .profile-header-info
                                .profile-header__name Mehmet Baz
                                .profile-header__title
                                    i.icon-trending-up
                                    span(data-i18n="profile.amateurExplorer") Amateur Explorer
                                .profile-header__loc
                                    i.icon-map-pin
                                    | Kdz. Ereğli / Zonguldak
                        .divider.divider--small
                        .profile-content
                            .form-content
                                .profile-content-info
                                    i.icon-info
                                    span(data-i18n="profileInfo.editInfo") You can edit your profile information.
                                .divider.divider--small
                                .input-group
                                    .input-group-title(data-i18n="profileInfo.fullName") Full Name
                                    .input-wrapper
                                        i.icon-user.input-icon
                                        input.input(type="text",data-i18n-placeholder="profileInfo.fullNamePlaceholder",placeholder="First and Last Name", value="Mehmet Baz")
                                .input-group
                                    .input-group-title(data-i18n="profileInfo.phone") Phone Number
                                    .input-wrapper
                                        i.icon-mobile.input-icon
                                        input.input(type="phone",data-i18n-placeholder="profileInfo.phone",placeholder="Phone Number",value="+90 536 666 22 31")
                                .input-group
                                    .input-group-title E-mail
                                    .input-wrapper
                                        i.icon-mail.input-icon
                                        input.input(type="text",placeholder="E-mail",value="mehmetbaz@gmail.com")
                                .button.button--red.mt-20(data-i18n="common.save") Save




