extends blocks/layout
block vars
    - var index = true;

block append head
    title index
block append svg

block content
    .maincontainer
        .device-container
            .safearea
                .back.back-w-title
                    a(href="profile.html").back-item
                        i.icon-chevron-left
                    .title Önceki Siparişlerim
                .within_back_area
                    .profile
                        .profile-content
                            .profile-content__title
                                i.icon-shopping-cart.mr-2
                                | ÖNCEKİ SİPARİŞLERİM
                            .profile-content-info.mt-0
                                i.icon-info
                                | Lorem ipsum dolor sit amet.
                            .divider.divider--small
                            .search_area.mb-10.mt-10
                                .input-wrapper.search
                                    input.no-icon.input(type="text",placeholder="Şiparişlerimde ara")
                                    .filter.js-open-search-filter-modal
                                        i.icon-search.input-icon
                            .order-item
                                .order-item-image
                                    img(src="img/restaruant/gunaydin2.jpg")
                                .order-item-content
                                    .order-item-content__title Günaydın Steak House
                                    .order-item-content__date 22 Kasım 2020
                                    .order-item-content__text
                                        span 3x Çay
                                        span 1x Magnolia
                                        span 2x Şefin Özel Pastırmalı Kuru Fasulyesi
                                        span 3x Çay
                                        span 1x Magnolia
                                        span 2x Şefin Özel Pastırmalı Kuru Fasulyesi
                                        span 1x Su
                                        span 1x Su
                                    .order-item-content__amount
                                        div Toplam Tutar
                                        span 123.53 TL
                            .order-item.mt-10
                                .order-item-image
                                    img(src="img/restaruant/gunaydin2.jpg")
                                .order-item-content
                                    .order-item-content__title Günaydın Steak House
                                    .order-item-content__date 22 Kasım 2020
                                    .order-item-content__text
                                        span 3x Çay
                                        span 1x Magnolia
                                        span 2x Şefin Özel Pastırmalı Kuru Fasulyesi
                                        span 3x Çay
                                        span 1x Magnolia
                                        span 2x Şefin Özel Pastırmalı Kuru Fasulyesi
                                        span 1x Su
                                        span 1x Su
                                    .order-item-content__amount
                                        div Toplam Tutar
                                        span 123.53 TL
                            .order-item.mt-10
                                .order-item-image
                                    img(src="img/restaruant/starbucks.jpg")
                                .order-item-content
                                    .order-item-content__title Starbucks
                                    .order-item-content__date 24 Kasım 2020
                                    .order-item-content__text
                                        span 3x Çay
                                        span 1x Magnolia
                                        span 2x Şefin Özel Pastırmalı Kuru Fasulyesi
                                        span 3x Çay
                                    .order-item-content__amount
                                        div Toplam Tutar
                                        span 123.53 TL