extends blocks/layout
block vars
    - var index = true;

block append head
    title index
block append svg

block content
    .maincontainer
        .device-container
            .safearea
                .back.back-w-title
                    .back-item
                        i.icon-chevron-left
                    .title(data-i18n="profile.myAccount") My Account
                .within_back_area
                    .profile
                        .profile-header
                            .profile-header-image
                                img(src="img/muhammet.jpg")
                            .profile-header-info
                                .profile-header__name Muhammet Celepci
                                .profile-header__title
                                    i.icon-trending-up
                                    span(data-i18n="profile.amateurExplorer") Amateur Explorer
                                .profile-header__loc
                                    i.icon-map-pin
                                    | Kdz. Ereğli / Zonguldak
                        .kampanya
                            .kampanya__title(data-i18n="profile.discount") 20% Discount
                            .kampanya__text(data-i18n="profile.discountText") We discounted everything. Click and eat.
                        .profile-menu
                            a(href="profile-bilgilerim.html").profile-menu-item
                                .profile-menu-item__icon
                                    i.icon-user
                                .profile-menu-item__title(data-i18n="profile.profileInfo")
                                    | My Profile Info
                                i.profile-menu-item__go.icon-chevron-right
                            a(href="profile-guvenlik.html").profile-menu-item
                                .profile-menu-item__icon
                                    i.icon-lock
                                .profile-menu-item__title(data-i18n="profile.security")
                                    | Security
                                i.profile-menu-item__go.icon-chevron-right
                            a(href="profile-adreslerim.html").profile-menu-item
                                .profile-menu-item__icon
                                    i.icon-map-pin
                                .profile-menu-item__title(data-i18n="profile.myAddresses")
                                    | My Addresses
                                i.profile-menu-item__go.icon-chevron-right
                            a(href="profile-onceki-siparislerim.html").profile-menu-item
                                .profile-menu-item__icon.active
                                    i.icon-shopping-cart
                                .profile-menu-item__title(data-i18n="profile.previousOrders")
                                    | Previous Orders
                                i.profile-menu-item__go.icon-chevron-right
                            a(href="profile-yorumlarim.html").profile-menu-item
                                .profile-menu-item__icon
                                    i.icon-message-square
                                .profile-menu-item__title(data-i18n="profile.myReviews")
                                    | My Reviews
                                i.profile-menu-item__go.icon-chevron-right
                            a(href="profile-favori-restoranlarim.html").profile-menu-item
                                .profile-menu-item__icon
                                    i.icon-heart-o
                                .profile-menu-item__title(data-i18n="profile.favoriteRestaurants")
                                    | Favorite Restaurants
                                i.profile-menu-item__go.icon-chevron-right
                            a(href="profile-rezervasyonlarim.html").profile-menu-item
                                .profile-menu-item__icon
                                    i.icon-calendar
                                .profile-menu-item__title(data-i18n="profile.myReservations")
                                    | My Reservations
                                i.profile-menu-item__go.icon-chevron-right
                            .profile-menu-item
                                .profile-menu-item__icon
                                    i.icon-trending-up
                                .profile-menu-item__title(data-i18n="profile.myEarnings")
                                    | My Earnings
                                i.profile-menu-item__go.icon-chevron-right




