extends blocks/layout
block vars
    - var index = true;

block append head
    title index
block append svg

block content
    .maincontainer
        .device-container
            .safearea
                .back.d-flex.justify-content-between.align-items-center
                    .back-item
                        i.icon-chevron-left
                    .logo-wrapper
                        img(src="img/logo.svg")
                    .back-right.d-flex
                        .cart-button(onclick='$("#bill").addClass("active")')
                            i.icon-credit-card
                            | Adisyon
                        //.save-restaruant(onclick="$(this).toggleClass('active')")
                            i.icon-bookmark
                            i.icon-bookmark-fill
                .restaruant-mainpage.within_back_area.p-0
                    #genel.tabcontent
                        .restaruant-mainpage-slider
                            img(src="img/restaruant/gunaydin2.jpg")
                            .restaruant-mainpage-slider__count 1/4
                            .restaruant-mainpage-slider__fav
                                i.icon-heart-o
                        .p-20
                            .restaruant-mainpage-name
                                | Günaydın Steakhouse
                            .restaruant-mainpage-sub_info
                                .rating.tab-item(data-href="yorum")
                                    i.icon.icon-star
                                    span 4.2
                                    small.ml-1 (33 Yorum)
                                .divider-circle
                                .distance
                                    i.icon.icon-map-pin
                                    span < 1 Km

                        .p-20.restaruant-mainpage-sub_info.d-block
                            .d-flex.align-items-center
                                .status.status--success
                                    .status__circle
                                    .status__text Açık
                                // Tıklandığında popup şeklinde tüm detay görülebilir
                                .divider-circle
                                .work-hours 10:00 - 02:00
                                //.status.status--danger
                                    .status__circle
                                    .status__text Kapalı
                            .address
                                i.icon.icon-map-direction
                                | Serinsu, Üsküdar, İstanbul
                            .paytype.address(onclick='$("#odeme_secenekleri").addClass("active")')
                                i.icon.icon-credit-card
                                | Ödeme Seçenekleri
                        .divider
                        .restaruant-mainpage-buttons
                            .restaruant-mainpage-buttons__item
                                .restaruant-mainpage-buttons__icon
                                    i.icon.icon-phone-call
                                .restaruant-mainpage-buttons__title Ara
                            .divider-circle
                            .restaruant-mainpage-buttons__item
                                .restaruant-mainpage-buttons__icon
                                    i.icon.icon-navigation
                                .restaruant-mainpage-buttons__title Beni Götür
                            .divider-circle
                            .restaruant-mainpage-buttons__item
                                .restaruant-mainpage-buttons__icon
                                    i.icon.icon-calendar
                                .restaruant-mainpage-buttons__title(onclick='$("#createReservation").addClass("active")') Rezervasyon
                        .divider
                        .food.p-20.mb-0
                            .see_all-wrapper.mt-0
                                .see_all-title En Çok Tercih Edilenler
                                .see_all-button.tab-item(data-href="menu") Hepsini Gör
                                    i.icon-arrow-right
                            .food-slider
                                .food-item
                                    .food-item__image
                                        img(src="img/food/hamburger.jpg")
                                    .food-item__title Şefin Özel Burgeri
                                .food-item
                                    .food-item__image
                                        img(src="img/food/hamburger.jpg")
                                    .food-item__title Şefin Özel Burgeri
                                .food-item
                                    .food-item__image
                                        img(src="img/food/hamburger.jpg")
                                    .food-item__title Şefin Özel Burgeri
                        .divider
                        .p-20.restaruant-mainpage-info
                            .title Daha Fazla Bilgi
                            .pins
                                .pins-item
                                    .pins-item-icon
                                        i.icon.icon-guitar
                                    .pins-item-title Canlı Müzik
                                .pins-item
                                    .pins-item-icon
                                        i.icon.icon-no-smoking
                                    .pins-item-title Sigarasız Alan
                                .pins-item
                                    .pins-item-icon
                                        i.icon.icon-cigarette
                                    .pins-item-title Sigara İçilebilir Alan
                                .pins-item
                                    .pins-item-icon
                                        i.icon.icon-wifi
                                    .pins-item-title Wifi
                                .pins-item
                                    .pins-item-icon
                                        i.icon.icon-check
                                    .pins-item-title İç Mekan
                                .pins-item
                                    .pins-item-icon
                                        i.icon.icon-fence
                                    .pins-item-title Dış Mekan
                                .pins-item
                                    .pins-item-icon
                                        i.icon.icon-alcohol
                                    .pins-item-title Alkol İçilebilir
                        .divider
                        .restaruants.p-20
                            .see_all-wrapper.mt-0
                                .see_all-title Benzer Restoranlar
                            .restaruants-slider
                                .restaruant-item
                                    .restaruant-item-image
                                        img(src="img/restaruant/gunaydin.jpg")
                                        .restaruant-item-image__fav
                                            i.icon-heart-o
                                    .restaruant-item-content
                                        .title Günaydın Steak House
                                        .category Türk Mutfağı - Izgara
                                        .restaruant-item-content-footer
                                            .rating
                                                i.icon.icon-star
                                                span 4.2
                                            .distance
                                                i.icon.icon-placeholder
                                                span < 0.5 Km
                                            .pins
                                                i.icon.icon-guitar
                                                i.icon.icon-yes-smoking
                                                i.icon.icon-no-smoking

                                .restaruant-item
                                    .restaruant-item-image
                                        img(src="img/restaruant/starbucks.jpg")
                                        .restaruant-item-image__fav.fill
                                            i.icon-heart
                                    .restaruant-item-content
                                        .title Starbucks Coffee
                                        .category Cafe - Pastane
                                        .restaruant-item-content-footer
                                            .rating
                                                i.icon.icon-star
                                                span 4.2
                                            .distance
                                                i.icon.icon-placeholder
                                                span 2.5 Km

                    #menu.tabcontent
                        .restaruant-mainpage.within_back_area.p-0
                            .p-20.mb-10.restaruant-mainpage-summary
                                .restaruant-mainpage-summary-image
                                    img(src="img/restaruant/gunaydin2.jpg")
                                .restaruant-mainpage-summary-info
                                    .restaruant-mainpage-name
                                        | Günaydın Steakhouse
                                    .restaruant-mainpage-sub_info
                                        .rating.tab-item(data-href="yorum")
                                            i.icon.icon-star
                                            span 4.2
                                            small.ml-1 (33 Yorum)
                                        .divider-circle
                                        .distance
                                            i.icon.icon-map-pin
                                            span < 1 Km

                            .p-20
                                .input-wrapper.search
                                    i.icon-search.input-icon
                                    input.input(type="text",placeholder="Ne yemek istersin")
                                    .filter
                                        i.icon-search.input-icon
                            .p-20
                                .food_category
                                    .see_all-wrapper
                                        .see_all-title Kategoriler
                                        .see_all-button Hepsini Gör
                                            i.icon-arrow-right
                                    .food_category-slider
                                        .food_category-item
                                            .food_category-item-image
                                                img(src="img/categories/burger.png")
                                            .food_category-item-title Burgerler
                                        .food_category-item
                                            .food_category-item-image
                                                img(src="img/categories/makarna.png")
                                            .food_category-item-title Makarnalar
                                        .food_category-item
                                            .food_category-item-image
                                                img(src="img/categories/kahve.png")
                                            .food_category-item-title Sıcak İçecekler
                                        .food_category-item
                                            .food_category-item-image
                                                img(src="img/categories/kebap.png")
                                            .food_category-item-title Kebap
                                        .food_category-item
                                            .food_category-item-image
                                                img(src="img/categories/steak.png")
                                            .food_category-item-title Steak
                                        .food_category-item
                                            .food_category-item-image
                                                img(src="img/categories/burger.png")
                                            .food_category-item-title Kahve
                                        .food_category-item
                                            .food_category-item-image
                                                img(src="img/categories/burger.png")
                                            .food_category-item-title Burger
                                        .food_category-item
                                            .food_category-item-image
                                                img(src="img/categories/makarna.png")
                                            .food_category-item-title Makarna
                                        .food_category-item
                                            .food_category-item-image
                                                img(src="img/categories/kahve.png")
                                            .food_category-item-title Kahve
                                        .food_category-item
                                            .food_category-item-image
                                                img(src="img/categories/kebap.png")
                                            .food_category-item-title Kebap
                                        .food_category-item
                                            .food_category-item-image
                                                img(src="img/categories/steak.png")
                                            .food_category-item-title Steak
                                        .food_category-item
                                            .food_category-item-image
                                                img(src="img/categories/burger.png")
                                            .food_category-item-title Kahve
                            .p-20
                                .foods-menu
                                    .foods-menu__title En Çok Tercih Edilenler
                                    .foods-menu-items
                                        include blocks/food-item--extended
                                        include blocks/food-item--extended
                                        include blocks/food-item--extended
                                        include blocks/food-item--extended
                                .foods-menu
                                    .foods-menu__title Burgerler
                                    .foods-menu-items
                                        include blocks/food-item--extended
                                        include blocks/food-item--extended
                                        include blocks/food-item--extended
                                        include blocks/food-item--extended
                    #yorum.tabcontent
                        .restaruant-mainpage.within_back_area.p-0
                            .comments-head.p-20.mt-10
                                .comments-add(onclick='$("#selectOrderToWriteComment").addClass("active"); ')
                                    i.icon-edit.mr-2
                                    span Yorum Yaz
                                .input-wrapper.search
                                    i.icon-search.input-icon
                                    input.input(type="text",placeholder="Yorumlarda Ara")
                                .comments-filter-wrapper
                                    .comments-filter-item.active Yorumlarım
                                    .comments-filter-item En Güncel
                                    .comments-filter-item Fotoğraflı
                                    .comments-filter-item
                                        i.icon-star-fill
                                        span 5 Yıldız
                                    .comments-filter-item
                                        i.icon-star-fill
                                        span 4 Yıldız
                                    .comments-filter-item
                                        i.icon-star-fill
                                        span 3 Yıldız
                                    .comments-filter-item
                                        i.icon-star-fill
                                        span 2 Yıldız
                                    .comments-filter-item
                                        i.icon-star
                                        span 1 Yıldız

                            .divider
                            .comments
                                .comments-item.p-20
                                    .comments-item-head
                                        .comments-item-profile
                                            .comments-item-profile__image
                                                img(src="img/mehmet.jpg")
                                            .comments-item-info
                                                .comments-item-profile__name
                                                    | Mehmet Baz
                                                .comments-item-profile__star
                                                    i.icon-star-fill
                                                    i.icon-star-fill
                                                    i.icon-star-fill
                                                    i.icon-star-fill
                                                    i.icon-star
                                            .comments-item__date 13.10.2020
                                    .comments-item-content
                                        .comments-item-content__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci dolore, laboriosam libero mollitia qui rerum similique suscipit voluptate voluptate.
                                        .comments-item-content-images
                                            .comments-item-content-images__item
                                                img(src="img/bg1.jpg")
                                            .comments-item-content-images__item
                                                img(src="img/bg2.jpg")
                                            .comments-item-content-images__item
                                                img(src="img/bg3.jpg")
                                            .comments-item-content-images__item
                                                img(src="img/bg1.jpg")
                                            .comments-item-content-images__item
                                                img(src="img/bg2.jpg")
                                            .comments-item-content-images__item
                                                img(src="img/bg3.jpg")



                                .divider
                                .comments-item.p-20
                                    .comments-item-head
                                        .comments-item-profile
                                            .comments-item-profile__image
                                                img(src="img/mehmet.jpg")
                                            .comments-item-info
                                                .comments-item-profile__name
                                                    | Mehmet Baz
                                                .comments-item-profile__star
                                                    i.icon-star-fill
                                                    i.icon-star-fill
                                                    i.icon-star
                                                    i.icon-star
                                                    i.icon-star
                                            .comments-item__date 17.10.2020
                                    .comments-item-content
                                        .comments-item-content__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci dolore, laboriosam libero mollitia qui rerum similique suscipit voluptate voluptate.

                    #sepet.tabcontent.active
                        .restaruant-mainpage.within_back_area.p-0
                            .bill-content.p-20.mt-10
                                .bill-title Sepetim
                                .divider
                                .bill-order
                                    .bill-order-header
                                        .bill-order-header__title
                                            .name.d-flex Muhammet Celepci
                                                .status.status--danger.ml-1 +3 Kişi
                                            .d-flex.align-items-center
                                                .date Günaydın Steak House
                                                .divider.divider-circle
                                                .table-no.status.status--danger Masa 12
                                            .d-flex.align-items-center
                                                span Toplam:
                                                .status.status--danger.ml-1 123.99 TL
                                    .food-item.food-item--extended.food-item
                                        .food-item__image
                                            img(src="img/food/hamburger.jpg")
                                        .food-item-content
                                            .food-item-content-top
                                                .food-item__title Şefin Özel Burgeri
                                                .d-flex
                                                    .food-item__add-cart.mr-1(onclick='$("#customizeFood").addClass("active")')
                                                        i.icon.icon-plus-square
                                                    .food-item__add-cart(style="transform:rotate(45deg)")
                                                        i.icon-plus-circle
                                            .food-item-content-bottom
                                                .food-item__price 19.90 TL
                                                .food-item__count.input-button-group
                                                    .button.button--light.button--icon
                                                        i.icon.icon-chevron-left
                                                    input.input(type="text",value="1")
                                                    .button.button--light.button--icon
                                                        i.icon.icon-chevron-right

                                    .food-item.food-item--extended
                                        .food-item__image
                                            img(src="img/food/iskender.jpg")
                                        .food-item-content
                                            .food-item-content-top
                                                .food-item__title Tereyağlı İskender
                                                .d-flex
                                                    .food-item__add-cart.mr-1(onclick='$("#customizeFood").addClass("active")')
                                                        i.icon.icon-plus-square
                                                    .food-item__add-cart(style="transform:rotate(45deg)")
                                                        i.icon-plus-circle
                                            .food-item-content-bottom
                                                .food-item__price 19.90 TL
                                                .food-item__count.input-button-group
                                                    .button.button--light.button--icon
                                                        i.icon.icon-chevron-left
                                                    input.input(type="text",value="1")
                                                    .button.button--light.button--icon
                                                        i.icon.icon-chevron-right

                                    .food-item.food-item--extended
                                        .food-item__image
                                            img(src="img/food/cay.jpg")
                                        .food-item-content
                                            .food-item-content-top
                                                .food-item__title Çay
                                                .d-flex
                                                    .food-item__add-cart.mr-1(onclick='$("#customizeFood").addClass("active")')
                                                        i.icon.icon-plus-square
                                                    .food-item__add-cart(style="transform:rotate(45deg)")
                                                        i.icon-plus-circle
                                            .food-item-content-bottom
                                                .food-item__price 9.00 TL
                                                .food-item__count.input-button-group
                                                    .button.button--light.button--icon
                                                        i.icon.icon-chevron-left
                                                    input.input(type="text",value="3")
                                                    .button.button--light.button--icon
                                                        i.icon.icon-chevron-right
                                .button.button--red.button--icon.button--icon--right.mt-3
                                    span Sipariş Ver
                                    i.icon-arrow-right

                .restaruant-tabs
                    .restaruant-tabs-item.tab-item(data-href="genel")
                        i.icon-home
                        | Genel
                    .restaruant-tabs-item.tab-item(data-href="yorum")
                        i.icon-message-square
                        | Yorumlar
                    .restaruant-tabs-item.tab-item(data-href="menu")
                        i.icon-book
                        | Menü
                    .restaruant-tabs-item.tab-item.restaruant-tabs-item--more.active(data-href="sepet")
                        div
                            i.icon-shopping-cart
                            | Sepet
                        span 123.99 TL
                include blocks/yorum-icin-siparis-sec
                include blocks/yorum-yaz
                include blocks/rezervasyon
                include blocks/adisyon
                include blocks/odeme-turu-sec
                include blocks/kredi-karti-odeme
                include blocks/odenecek-urun-sayisi
                include blocks/odeme-secenekleri








