extends blocks/layout
block vars
    - var index = true;

block append head
    title index
block append svg

block content
    .maincontainer
        .device-container
            .safearea
                .back.d-flex.justify-content-between.align-items-center
                    .back-item
                        i.icon-arrow-left
                        span Geri Dön
                    .back-right
                        .save-restaruant(onclick="$(this).toggleClass('active')")
                            i.icon-bookmark
                            i.icon-bookmark-fill
                .restaruant-mainpage.within_back_area.p-0
                    #genel.tabcontent
                        .restaruant-mainpage-slider
                            img(src="img/restaruant/gunaydin2.jpg")
                            .restaruant-mainpage-slider__count 1/4
                        .p-20
                            .restaruant-mainpage-name
                                | Günaydın Steakhouse
                            .restaruant-mainpage-sub_info
                                .rating.tab-item(data-href="yorum")
                                    i.icon.icon-star
                                    span 4.2
                                    small.ml-1 (33 Yorum)
                                .divider-circle
                                .distance
                                    i.icon.icon-map-pin
                                    span < 1 Km

                        .p-20.restaruant-mainpage-sub_info.d-block
                            .d-flex.align-items-center
                                .status.status--success
                                    .status__circle
                                    .status__text Açık
                                // Tıklandığında popup şeklinde tüm detay görülebilir
                                .divider-circle
                                .work-hours 10:00 - 02:00
                                //.status.status--danger
                                    .status__circle
                                    .status__text Kapalı
                            .address
                                i.icon.icon-map-direction
                                | Serinsu, Üsküdar, İstanbul
                            .paytype.address
                                i.icon.icon-qr-code-scan
                                | Ödeme Seçenekleri
                        .divider
                        .restaruant-mainpage-buttons
                            .restaruant-mainpage-buttons__item
                                .restaruant-mainpage-buttons__icon
                                    i.icon.icon-phone-call
                                .restaruant-mainpage-buttons__title Ara
                            .divider-circle
                            .restaruant-mainpage-buttons__item
                                .restaruant-mainpage-buttons__icon
                                    i.icon.icon-navigation
                                .restaruant-mainpage-buttons__title Beni Götür
                            .divider-circle
                            .restaruant-mainpage-buttons__item
                                .restaruant-mainpage-buttons__icon
                                    i.icon.icon-flag
                                .restaruant-mainpage-buttons__title Hata Bildir
                        .divider
                        .food.p-20.mb-0
                            .see_all-wrapper.mt-0
                                .see_all-title En Çok Tercih Edilenler
                                .see_all-button.tab-item(data-href="menu") Hepsini Gör
                                    i.icon-arrow-right
                            .food-slider
                                .food-item
                                    .food-item-image
                                        img(src="img/food/hamburger.jpg")
                                    .food-item-title Şefin Özel Burgeri
                                .food-item
                                    .food-item-image
                                        img(src="img/food/hamburger.jpg")
                                    .food-item-title Şefin Özel Burgeri
                                .food-item
                                    .food-item-image
                                        img(src="img/food/hamburger.jpg")
                                    .food-item-title Şefin Özel Burgeri
                        .divider
                        .p-20.restaruant-mainpage-info
                            .title Daha Fazla Bilgi
                            .pins
                                .pins-item
                                    .pins-item-icon
                                        i.icon.icon-guitar
                                    .pins-item-title Canlı Müzik
                                .pins-item
                                    .pins-item-icon
                                        i.icon.icon-no-smoking
                                    .pins-item-title Sigarasız Alan
                                .pins-item
                                    .pins-item-icon
                                        i.icon.icon-cigarette
                                    .pins-item-title Sigara İçilebilir Alan
                                .pins-item
                                    .pins-item-icon
                                        i.icon.icon-wifi
                                    .pins-item-title Wifi
                                .pins-item
                                    .pins-item-icon
                                        i.icon.icon-check
                                    .pins-item-title İç Mekan
                                .pins-item
                                    .pins-item-icon
                                        i.icon.icon-fence
                                    .pins-item-title Dış Mekan
                                .pins-item
                                    .pins-item-icon
                                        i.icon.icon-alcohol
                                    .pins-item-title Alkol İçilebilir
                        .divider
                        .restaruants.p-20
                            .see_all-wrapper.mt-0
                                .see_all-title Benzer Restoranlar
                            .restaruants-slider
                                .restaruant-item
                                    .restaruant-item-image
                                        img(src="img/restaruant/gunaydin.jpg")
                                    .restaruant-item-content
                                        .title Günaydın Steak House
                                        .category Türk Mutfağı - Izgara
                                        .restaruant-item-content-footer
                                            .rating
                                                i.icon.icon-star
                                                span 4.2
                                            .distance
                                                i.icon.icon-placeholder
                                                span < 0.5 Km
                                            .pins
                                                i.icon.icon-guitar
                                                i.icon.icon-yes-smoking
                                                i.icon.icon-no-smoking

                                .restaruant-item
                                    .restaruant-item-image
                                        img(src="img/restaruant/starbucks.jpg")
                                    .restaruant-item-content
                                        .title Starbucks Coffee
                                        .category Cafe - Pastane
                                        .restaruant-item-content-footer
                                            .rating
                                                i.icon.icon-star
                                                span 4.2
                                            .distance
                                                i.icon.icon-placeholder
                                                span 2.5 Km





                    #menu.tabcontent.active
                        .restaruant-mainpage.within_back_area.p-0
                            .p-20.mb-10.restaruant-mainpage-summary
                                .restaruant-mainpage-summary-image
                                    img(src="img/restaruant/gunaydin2.jpg")
                                .restaruant-mainpage-summary-info
                                    .restaruant-mainpage-name
                                        | Günaydın Steakhouse
                                    .restaruant-mainpage-sub_info
                                        .rating.tab-item(data-href="yorum")
                                            i.icon.icon-star
                                            span 4.2
                                            small.ml-1 (33 Yorum)
                                        .divider-circle
                                        .distance
                                            i.icon.icon-map-pin
                                            span < 1 Km

                            .p-20
                                .input-wrapper.search
                                    i.icon-search.input-icon
                                    input.input(type="text",placeholder="Ne yemek istersin")
                                    .filter
                                        i.icon-search.input-icon
                            .p-20
                                .food_category
                                    .see_all-wrapper
                                        .see_all-title Kategoriler
                                        .see_all-button Hepsini Gör
                                            i.icon-arrow-right
                                    .food_category-slider
                                        .food_category-item
                                            .food_category-item-image
                                                img(src="img/categories/burger.png")
                                            .food_category-item-title Burgerler
                                        .food_category-item
                                            .food_category-item-image
                                                img(src="img/categories/makarna.png")
                                            .food_category-item-title Makarnalar
                                        .food_category-item
                                            .food_category-item-image
                                                img(src="img/categories/kahve.png")
                                            .food_category-item-title Sıcak İçecekler
                                        .food_category-item
                                            .food_category-item-image
                                                img(src="img/categories/kebap.png")
                                            .food_category-item-title Kebap
                                        .food_category-item
                                            .food_category-item-image
                                                img(src="img/categories/steak.png")
                                            .food_category-item-title Steak
                                        .food_category-item
                                            .food_category-item-image
                                                img(src="img/categories/burger.png")
                                            .food_category-item-title Kahve
                                        .food_category-item
                                            .food_category-item-image
                                                img(src="img/categories/burger.png")
                                            .food_category-item-title Burger
                                        .food_category-item
                                            .food_category-item-image
                                                img(src="img/categories/makarna.png")
                                            .food_category-item-title Makarna
                                        .food_category-item
                                            .food_category-item-image
                                                img(src="img/categories/kahve.png")
                                            .food_category-item-title Kahve
                                        .food_category-item
                                            .food_category-item-image
                                                img(src="img/categories/kebap.png")
                                            .food_category-item-title Kebap
                                        .food_category-item
                                            .food_category-item-image
                                                img(src="img/categories/steak.png")
                                            .food_category-item-title Steak
                                        .food_category-item
                                            .food_category-item-image
                                                img(src="img/categories/burger.png")
                                            .food_category-item-title Kahve
                            .p-20
                                .foods-menu
                                    .foods-menu__title En Çok Tercih Edilenler
                                    .foods-menu-items
                                        include blocks/food-item--extended
                                        include blocks/food-item--extended
                                        include blocks/food-item--extended
                                        include blocks/food-item--extended


                                .foods-menu
                                    .foods-menu__title Burgerler
                                    .foods-menu-items
                                        include blocks/food-item--extended
                                        include blocks/food-item--extended
                                        include blocks/food-item--extended
                                        include blocks/food-item--extended
                    #yorum.tabcontent
                        .restaruant-mainpage.within_back_area.p-0
                            | Yorumlar
                .restaruant-tabs
                    .restaruant-tabs-item.tab-item(data-href="genel") Genel
                    .restaruant-tabs-item.tab-item.active(data-href="menu") Menü
                    .restaruant-tabs-item.tab-item(data-href="yorum") Yorumlar





