extends blocks/layout
block vars
    - var index = true;

block append head
    title index
block append svg

block content
    .maincontainer
        .device-container
            .safearea
                .back.d-flex.justify-content-between.align-items-center
                    .back-item
                        i.icon-chevron-left
                    .logo-wrapper
                        img(src="img/logo.svg")
                    .back-right.d-flex
                        .cart-button(onclick='$("#bill").addClass("active")')
                            i.icon-shopping-cart
                            span 123.55 TL

                        //.save-restaruant(onclick="$(this).toggleClass('active')")
                            i.icon-bookmark
                            i.icon-bookmark-fill
                .restaruant-mainpage.within_back_area.p-0
                    #genel.tabcontent.active
                        .restaruant-mainpage-slider
                            img(src="img/restaruant/gunaydin2.jpg")
                            .restaruant-mainpage-slider__count 1/4
                        .p-20
                            .restaruant-mainpage-name
                                | Günaydın Steakhouse
                            .restaruant-mainpage-sub_info
                                .rating.tab-item(data-href="yorum")
                                    i.icon.icon-star
                                    span 4.2
                                    small.ml-1 (33 Yorum)
                                .divider-circle
                                .distance
                                    i.icon.icon-map-pin
                                    span < 1 Km

                        .p-20.restaruant-mainpage-sub_info.d-block
                            .d-flex.align-items-center
                                .status.status--success
                                    .status__circle
                                    .status__text Açık
                                // Tıklandığında popup şeklinde tüm detay görülebilir
                                .divider-circle
                                .work-hours 10:00 - 02:00
                                //.status.status--danger
                                    .status__circle
                                    .status__text Kapalı
                            .address
                                i.icon.icon-map-direction
                                | Serinsu, Üsküdar, İstanbul
                            .paytype.address(onclick='$("#odeme_secenekleri").addClass("active")')
                                i.icon.icon-credit-card
                                | Ödeme Seçenekleri
                        .divider
                        .restaruant-mainpage-buttons
                            .restaruant-mainpage-buttons__item
                                .restaruant-mainpage-buttons__icon
                                    i.icon.icon-phone-call
                                .restaruant-mainpage-buttons__title Ara
                            .divider-circle
                            .restaruant-mainpage-buttons__item
                                .restaruant-mainpage-buttons__icon
                                    i.icon.icon-navigation
                                .restaruant-mainpage-buttons__title Beni Götür
                            .divider-circle
                            .restaruant-mainpage-buttons__item
                                .restaruant-mainpage-buttons__icon
                                    i.icon.icon-calendar
                                .restaruant-mainpage-buttons__title(onclick='$("#createReservation").addClass("active")') Rezervasyon
                        .divider
                        .food.p-20.mb-0
                            .see_all-wrapper.mt-0
                                .see_all-title En Çok Tercih Edilenler
                                .see_all-button.tab-item(data-href="menu") Hepsini Gör
                                    i.icon-arrow-right
                            .food-slider
                                .food-item
                                    .food-item__image
                                        img(src="img/food/hamburger.jpg")
                                    .food-item__title Şefin Özel Burgeri
                                .food-item
                                    .food-item__image
                                        img(src="img/food/hamburger.jpg")
                                    .food-item__title Şefin Özel Burgeri
                                .food-item
                                    .food-item__image
                                        img(src="img/food/hamburger.jpg")
                                    .food-item__title Şefin Özel Burgeri
                        .divider
                        .p-20.restaruant-mainpage-info
                            .title Daha Fazla Bilgi
                            .pins
                                .pins-item
                                    .pins-item-icon
                                        i.icon.icon-guitar
                                    .pins-item-title Canlı Müzik
                                .pins-item
                                    .pins-item-icon
                                        i.icon.icon-no-smoking
                                    .pins-item-title Sigarasız Alan
                                .pins-item
                                    .pins-item-icon
                                        i.icon.icon-cigarette
                                    .pins-item-title Sigara İçilebilir Alan
                                .pins-item
                                    .pins-item-icon
                                        i.icon.icon-wifi
                                    .pins-item-title Wifi
                                .pins-item
                                    .pins-item-icon
                                        i.icon.icon-check
                                    .pins-item-title İç Mekan
                                .pins-item
                                    .pins-item-icon
                                        i.icon.icon-fence
                                    .pins-item-title Dış Mekan
                                .pins-item
                                    .pins-item-icon
                                        i.icon.icon-alcohol
                                    .pins-item-title Alkol İçilebilir
                        .divider
                        .restaruants.p-20
                            .see_all-wrapper.mt-0
                                .see_all-title Benzer Restoranlar
                            .restaruants-slider
                                .restaruant-item
                                    .restaruant-item-image
                                        img(src="img/restaruant/gunaydin.jpg")
                                    .restaruant-item-content
                                        .title Günaydın Steak House
                                        .category Türk Mutfağı - Izgara
                                        .restaruant-item-content-footer
                                            .rating
                                                i.icon.icon-star
                                                span 4.2
                                            .distance
                                                i.icon.icon-placeholder
                                                span < 0.5 Km
                                            .pins
                                                i.icon.icon-guitar
                                                i.icon.icon-yes-smoking
                                                i.icon.icon-no-smoking

                                .restaruant-item
                                    .restaruant-item-image
                                        img(src="img/restaruant/starbucks.jpg")
                                    .restaruant-item-content
                                        .title Starbucks Coffee
                                        .category Cafe - Pastane
                                        .restaruant-item-content-footer
                                            .rating
                                                i.icon.icon-star
                                                span 4.2
                                            .distance
                                                i.icon.icon-placeholder
                                                span 2.5 Km

                    #menu.tabcontent
                        .restaruant-mainpage.within_back_area.p-0
                            .p-20.mb-10.restaruant-mainpage-summary
                                .restaruant-mainpage-summary-image
                                    img(src="img/restaruant/gunaydin2.jpg")
                                .restaruant-mainpage-summary-info
                                    .restaruant-mainpage-name
                                        | Günaydın Steakhouse
                                    .restaruant-mainpage-sub_info
                                        .rating.tab-item(data-href="yorum")
                                            i.icon.icon-star
                                            span 4.2
                                            small.ml-1 (33 Yorum)
                                        .divider-circle
                                        .distance
                                            i.icon.icon-map-pin
                                            span < 1 Km

                            .p-20
                                .input-wrapper.search
                                    i.icon-search.input-icon
                                    input.input(type="text",placeholder="Ne yemek istersin")
                                    .filter
                                        i.icon-search.input-icon
                            .p-20
                                .food_category
                                    .see_all-wrapper
                                        .see_all-title Kategoriler
                                        .see_all-button Hepsini Gör
                                            i.icon-arrow-right
                                    .food_category-slider
                                        .food_category-item
                                            .food_category-item-image
                                                img(src="img/categories/burger.png")
                                            .food_category-item-title Burgerler
                                        .food_category-item
                                            .food_category-item-image
                                                img(src="img/categories/makarna.png")
                                            .food_category-item-title Makarnalar
                                        .food_category-item
                                            .food_category-item-image
                                                img(src="img/categories/kahve.png")
                                            .food_category-item-title Sıcak İçecekler
                                        .food_category-item
                                            .food_category-item-image
                                                img(src="img/categories/kebap.png")
                                            .food_category-item-title Kebap
                                        .food_category-item
                                            .food_category-item-image
                                                img(src="img/categories/steak.png")
                                            .food_category-item-title Steak
                                        .food_category-item
                                            .food_category-item-image
                                                img(src="img/categories/burger.png")
                                            .food_category-item-title Kahve
                                        .food_category-item
                                            .food_category-item-image
                                                img(src="img/categories/burger.png")
                                            .food_category-item-title Burger
                                        .food_category-item
                                            .food_category-item-image
                                                img(src="img/categories/makarna.png")
                                            .food_category-item-title Makarna
                                        .food_category-item
                                            .food_category-item-image
                                                img(src="img/categories/kahve.png")
                                            .food_category-item-title Kahve
                                        .food_category-item
                                            .food_category-item-image
                                                img(src="img/categories/kebap.png")
                                            .food_category-item-title Kebap
                                        .food_category-item
                                            .food_category-item-image
                                                img(src="img/categories/steak.png")
                                            .food_category-item-title Steak
                                        .food_category-item
                                            .food_category-item-image
                                                img(src="img/categories/burger.png")
                                            .food_category-item-title Kahve
                            .p-20
                                .foods-menu
                                    .foods-menu__title En Çok Tercih Edilenler
                                    .foods-menu-items
                                        include blocks/food-item--extended
                                        include blocks/food-item--extended
                                        include blocks/food-item--extended
                                        include blocks/food-item--extended
                                .foods-menu
                                    .foods-menu__title Burgerler
                                    .foods-menu-items
                                        include blocks/food-item--extended
                                        include blocks/food-item--extended
                                        include blocks/food-item--extended
                                        include blocks/food-item--extended
                    #yorum.tabcontent
                        .restaruant-mainpage.within_back_area.p-0
                            .comments-head.p-20.mt-10
                                .comments-add(onclick='$("#selectOrderToWriteComment").addClass("active"); ')
                                    i.icon-edit.mr-2
                                    span Yorum Yaz
                                .input-wrapper.search
                                    i.icon-search.input-icon
                                    input.input(type="text",placeholder="Yorumlarda Ara")
                                .comments-filter-wrapper
                                    .comments-filter-item.active Yorumlarım
                                    .comments-filter-item En Güncel
                                    .comments-filter-item Fotoğraflı
                                    .comments-filter-item
                                        i.icon-star-fill
                                        span 5 Yıldız
                                    .comments-filter-item
                                        i.icon-star-fill
                                        span 4 Yıldız
                                    .comments-filter-item
                                        i.icon-star-fill
                                        span 3 Yıldız
                                    .comments-filter-item
                                        i.icon-star-fill
                                        span 2 Yıldız
                                    .comments-filter-item
                                        i.icon-star
                                        span 1 Yıldız

                            .divider
                            .comments
                                .comments-item.p-20
                                    .comments-item-head
                                        .comments-item-profile
                                            .comments-item-profile__image
                                                img(src="img/mehmet.jpg")
                                            .comments-item-info
                                                .comments-item-profile__name
                                                    | Mehmet Baz
                                                .comments-item-profile__star
                                                    i.icon-star-fill
                                                    i.icon-star-fill
                                                    i.icon-star-fill
                                                    i.icon-star-fill
                                                    i.icon-star
                                            .comments-item__date 13.10.2020
                                    .comments-item-content
                                        .comments-item-content__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci dolore, laboriosam libero mollitia qui rerum similique suscipit voluptate voluptate.
                                        .comments-item-content-images
                                            .comments-item-content-images__item
                                                img(src="img/bg1.jpg")
                                            .comments-item-content-images__item
                                                img(src="img/bg2.jpg")
                                            .comments-item-content-images__item
                                                img(src="img/bg3.jpg")
                                            .comments-item-content-images__item
                                                img(src="img/bg1.jpg")
                                            .comments-item-content-images__item
                                                img(src="img/bg2.jpg")
                                            .comments-item-content-images__item
                                                img(src="img/bg3.jpg")



                                .divider
                                .comments-item.p-20
                                    .comments-item-head
                                        .comments-item-profile
                                            .comments-item-profile__image
                                                img(src="img/mehmet.jpg")
                                            .comments-item-info
                                                .comments-item-profile__name
                                                    | Mehmet Baz
                                                .comments-item-profile__star
                                                    i.icon-star-fill
                                                    i.icon-star-fill
                                                    i.icon-star
                                                    i.icon-star
                                                    i.icon-star
                                            .comments-item__date 17.10.2020
                                    .comments-item-content
                                        .comments-item-content__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci dolore, laboriosam libero mollitia qui rerum similique suscipit voluptate voluptate.

                .restaruant-tabs
                    .restaruant-tabs-item.tab-item(data-href="genel") Genel
                    .restaruant-tabs-item.tab-item.active(data-href="menu") Menü
                    .restaruant-tabs-item.tab-item(data-href="yorum") Yorumlar
                #selectOrderToWriteComment.bottom-modal
                    .bottom-modal__divider(onclick='$("#selectOrderToWriteComment").removeClass("active")')
                        span
                    .bottom-modal-content
                        .bottom-modal-content__title Sipariş Seç
                        p.bottom-modal-content__text Yorum yazmak istediğiniz siparişi aşağıdan seçerek devam ediniz.
                        .divider
                        .comment-write-select-order
                            .order-item-input_wrapper
                                input#siparis1(type="radio",name="siparis").order-item-input
                                label(for="siparis1").order-item
                                    .order-item-image
                                        img(src="img/restaruant/gunaydin.jpg")
                                        .select_area
                                            i.icon.icon-check
                                    .order-item-content
                                        .order-item-content__title 13 Ekim 2020 Tarihli Sipariş
                                        .order-item-content__text
                                            span 3x Çay
                                            span 1x Magnolia
                                            span 2x Şefin Özel Pastırmalı Kuru Fasulyesi
                                            span 1x Su
                                        .order-item-content__amount
                                            div Toplam Tutar
                                            span 123.53 TL
                            .order-item-input_wrapper
                                input#siparis2(type="radio",name="siparis").order-item-input
                                label(for="siparis2").order-item
                                    .order-item-image
                                        img(src="img/restaruant/gunaydin.jpg")
                                        .select_area
                                            i.icon.icon-check
                                    .order-item-content
                                        .order-item-content__title 13 Ekim 2020 Tarihli Sipariş
                                        .order-item-content__text
                                            span 3x Çay
                                            span 1x Magnolia
                                            span 2x Şefin Özel Pastırmalı Kuru Fasulyesi
                                            span 3x Çay
                                            span 1x Magnolia
                                            span 2x Şefin Özel Pastırmalı Kuru Fasulyesi
                                            span 1x Su
                                            span 1x Su
                                        .order-item-content__amount
                                            div Toplam Tutar
                                            span 123.53 TL
                            .apply-button.button.button--red.button--icon.button--icon--right.mt-20(onclick='$("#selectOrderToWriteComment").removeClass("active");$("#writeComment").addClass("active"); ')
                                span Devam Et
                                i.icon.icon-arrow-right
                #writeComment.bottom-modal
                    .bottom-modal__divider(onclick='$("#writeComment").removeClass("active")')
                        span
                    .bottom-modal-content
                        .bottom-modal-content__title Yorum Yap
                        p.bottom-modal-content__text Seçtiğiniz sipariş için yorum yapabilirsiniz.
                        .divider
                        .comment-write
                            .order-item
                                .order-item-image
                                    img(src="img/restaruant/gunaydin.jpg")

                                .order-item-content
                                    .order-item-content__title 13 Ekim 2020 Tarihli Sipariş
                                    .order-item-content__text
                                        span 3x Çay
                                        span 1x Magnolia
                                        span 2x Şefin Özel Pastırmalı Kuru Fasulyesi
                                        span 1x Su
                                    .order-item-content__amount
                                        div Toplam Tutar
                                        span 123.53 TL
                            .comment-write__title Değerlendir
                            .comment-write-star-content
                                i.star.icon-star-fill
                                i.star.icon-star-fill
                                i.star.icon-star-fill
                                i.star.icon-star
                                i.star.icon-star
                            .comment-write__title Fotoğraf Yükle
                            .comment-write-upload
                                .comment-write-upload__image.upload-image
                                    i.icon.icon-image
                                .comment-write-upload__image
                                    img(src="img/restaruant/gunaydin.jpg")
                                    span.comment-write-upload__close
                                        i.icon.icon-close
                                .comment-write-upload__image
                                    img(src="img/restaruant/gunaydin.jpg")
                                    span.comment-write-upload__close
                                        i.icon.icon-close
                                .comment-write-upload__image
                                    img(src="img/restaruant/gunaydin.jpg")
                                    span.comment-write-upload__close
                                        i.icon.icon-close
                                .comment-write-upload__image
                                    img(src="img/restaruant/gunaydin.jpg")
                                    span.comment-write-upload__close
                                        i.icon.icon-close
                            .comment-write__title Yorum Yaz
                            textarea.comment-write-text(placeholder="Siparişinizle ilgili görüşlerinizi yazın.")


                        .apply-button.button.button--red.button--icon.button--icon--right.mt-20
                            span Gönder Gitsin
                            i.icon.icon-arrow-right
                #customizeFood.bottom-modal
                    .bottom-modal__divider(onclick='$("#customizeFood").removeClass("active")')
                        span
                    .bottom-modal-content
                        .bottom-modal-content__title Seçimi Onayla
                        p.bottom-modal-content__text Seçiminizi özelleştirebilirsiniz.
                        .divider
                        .customize-food
                            .customize-food-item
                                .customize-food-item__image
                                    img(src="img/food/hamburger.jpg")
                                .customize-food-item-content
                                    .customize-food-item-content__title Şefin Özel Sucuklusu
                                    .customize-food-item-content__ingredients
                                        | 200gr Özel Hamburger Köftesi, Karamelize Soğan, Patates Kızartması, Domates, Özel Sos
                                    .customize-food__title Gramaj Seçimi
                                    select.d-block
                                        option 100 gram
                                        option 200 gram (+12 TL)
                                        option 300 gram (+24 TL)
                                        option 400 gram (+36 TL)
                                    .customize-food__title Özelleştir
                                    .customize-food-item-content-selects
                                        .select-item
                                            label.tick-checkbox.strike-through
                                                input.tick-checkbox__input(type='checkbox' checked='')
                                                span.tick-checkbox__toggle
                                                .tick-checkbox__content
                                                    .tick-checkbox__title
                                                        | Soğan
                                        .select-item
                                            label.tick-checkbox.strike-through
                                                input.tick-checkbox__input(type='checkbox' checked='')
                                                span.tick-checkbox__toggle
                                                .tick-checkbox__content
                                                    .tick-checkbox__title
                                                        | Ketçap
                                        .select-item
                                            label.tick-checkbox.strike-through
                                                input.tick-checkbox__input(type='checkbox' checked='')
                                                span.tick-checkbox__toggle
                                                .tick-checkbox__content
                                                    .tick-checkbox__title
                                                        | Mayonez
                                    .customize-food__title Ekstra Ekle
                                    .customize-food-item-content-selects
                                        .select-item
                                            label.tick-checkbox
                                                input.tick-checkbox__input(type='checkbox')
                                                span.tick-checkbox__toggle
                                                .tick-checkbox__content
                                                    .tick-checkbox__title
                                                        | Çift Peynir
                                                        span (+2 TL)
                                        .select-item
                                            label.tick-checkbox
                                                input.tick-checkbox__input(type='checkbox')
                                                span.tick-checkbox__toggle
                                                .tick-checkbox__content
                                                    .tick-checkbox__title
                                                        | Büyük Seçim
                                                        span (+5 TL)
                                .customize-food__title Sipariş Notu
                                textarea.comment-write-text(placeholder="Sipariş Notunuzu Ekleyebilirsiniz")
                        .add-cart-buttons.apply-button.d-flex.mt-20
                            .select-count
                                .select-count-button.left
                                    i.icon-minus
                                .select-count-num 2
                                .select-count-button
                                    i.icon-plus

                            .button.button--red.button--icon.button--icon--right.add-cart-button
                                span Sepete Ekle
                                .add-cart-button__amount 241.98 TL
                #createReservation.bottom-modal
                    .bottom-modal__divider(onclick='$("#createReservation").removeClass("active")')
                        span
                    .bottom-modal-content
                        .bottom-modal-content__title Rezervasyon Yap
                        p.bottom-modal-content__text Restoranda rezervasyon yapmak için aşağıdaki ...........
                        .divider
                        .customize-food
                            .customize-food-item
                                .customize-food-item-content
                                .customize-food__title Rezervasyon Tarih
                                    .customize-food__text Rezervasyon yaptıracağınız tarihi seçiniz.
                                img.w-100(src="img/calendar.png", style="")
                                .customize-food__title Rezervasyon Saati
                                    .customize-food__text Rezervasyon yaptıracağınız saat aralığını seçiniz.
                                img.w-100(src="https://raw.githubusercontent.com/henninghall/react-native-date-picker/master/docs/time-mode-android.png")
                                .customize-food__title Masanın Özellikleri
                                    .customize-food__text Rezerve edeceğiniz masanın özelliklerini seçebilirsiniz.
                                .customize-food-item-content-selects
                                    .select-item
                                        label.tick-checkbox.strike-through
                                            input.tick-checkbox__input(type='checkbox' checked='')
                                            span.tick-checkbox__toggle
                                            .tick-checkbox__content
                                                .tick-checkbox__title
                                                    | Priz
                                    .select-item
                                        label.tick-checkbox.strike-through
                                            input.tick-checkbox__input(type='checkbox' checked='')
                                            span.tick-checkbox__toggle
                                            .tick-checkbox__content
                                                .tick-checkbox__title
                                                    | Sigara İçilebilir Alan
                                    .select-item
                                        label.tick-checkbox.strike-through
                                            input.tick-checkbox__input(type='checkbox' checked='')
                                            span.tick-checkbox__toggle
                                            .tick-checkbox__content
                                                .tick-checkbox__title
                                                    | Cam Kenarı
                                    .select-item
                                        label.tick-checkbox.strike-through
                                            input.tick-checkbox__input(type='checkbox' checked='')
                                            span.tick-checkbox__toggle
                                            .tick-checkbox__content
                                                .tick-checkbox__title
                                                    | Deniz Kenarı



                                textarea.comment-write-text.mt-20(placeholder="Rezervasyon için ekstra notunuz varsa ekleyebilirsiniz")
                                .customize-food__title Seçilebilir Masalar
                                    .customize-food__text Girdiğiniz kriterlere uygun masalar listelenmiştir.
                                    select.d-block.mt-10.w-100
                                        option B-11
                                        option C-22
                                        option C-22
                                        option C-22
                                        option C-22

                        .apply-button.button.button--red.button--icon.button--icon--right.mt-20
                            span Rezervasyon Yap
                            i.icon-arrow-right
                #bill.bottom-modal.bill.active
                    .bottom-modal__divider(onclick='$("#bill").removeClass("active")')
                        span
                    .bottom-modal-content
                        .bottom-modal-content__title Adisyon
                        p.bottom-modal-content__text Verdiğiniz siparişler ve ürünler aşağıda listelenmiştir.
                        .renk_turleri
                            .renk_turleri-item.red
                                span
                                p.text Ödenmedi
                            .renk_turleri-item.orange
                                span
                                p.text Seçildi
                            .renk_turleri-item.black
                                span
                                p.text Ödendi
                        .divider
                        .bill-content
                            .bill-order
                                .bill-order-header
                                    .bill-order-header__title
                                        .name Muhammet Celepci
                                        .date 05.11.2020
                                    .bill-order-header__table-no.status.status--danger Masa 12
                                .bill-order-content
                                    .bill-order-content-header
                                        .bill-order-content__title Sipariş No: #257
                                        .button.button--sm.button--red Tümünü Seç
                                    .bill-order-content-items
                                        .bill-order-content-item
                                            .d-flex
                                                .product-count 2
                                                .product-name Su
                                            .product-price 5.00 TL
                                        .divider.divider--small
                                        .bill-order-content-item.odendi
                                            .d-flex
                                                .product-count 1
                                                .product-name Fincan Çay
                                            .product-price 4.00 TL
                                        .divider.divider--small
                                        .bill-order-content-item.secildi
                                            .d-flex
                                                .product-count 8
                                                .product-name Tereyağlı İskender
                                            .product-price 80.00 TL
                                            .secildi-text 2 Adet Seçildi
                                                include blocks/secildi_buttons
                                        .bill-order-content-item.odendi
                                            .d-flex
                                                .product-count 2
                                                .product-name Tereyağlı İskender
                                            .product-price 20.00 TL
                                        .divider.divider--small
                                        .bill-order-content-item.secildi
                                            .d-flex
                                                .product-count 2
                                                .product-name Su
                                            .product-price 5.00 TL
                                            .secildi-text Tamamı Seçildi
                                                include blocks/secildi_buttons
                                        .bill-order-content-footer
                                            .title Toplam
                                            .amount 122.22 TL

                                .bill-order-content
                                    .bill-order-content-header
                                        .bill-order-content__title Sipariş No: #258
                                        .button.button--sm.button--gray Ödendi
                                    .bill-order-content-items
                                        .bill-order-content-item.odendi
                                            .d-flex
                                                .product-count 2
                                                .product-name Su
                                            .product-price 5.00 TL
                                        .divider.divider--small
                                        .bill-order-content-item.odendi
                                            .d-flex
                                                .product-count 1
                                                .product-name Fincan Çay
                                            .product-price 4.00 TL
                                .bill-order-content
                                    .bill-order-content-header
                                        .bill-order-content__title Sipariş No: #258
                                        .button.button--sm.button--orange Tümünü Kaldır
                                    .bill-order-content-items
                                        .bill-order-content-item.secildi
                                            .d-flex
                                                .product-count 2
                                                .product-name Su
                                            .product-price 5.00 TL
                                            .secildi-text Tamamı Seçildi
                                                include blocks/secildi_buttons
                                        .divider.divider--small
                                        .bill-order-content-item.secildi
                                            .d-flex
                                                .product-count 1
                                                .product-name Fincan Çay
                                            .product-price 4.00 TL
                                            .secildi-text Tamamı Seçildi
                                                include blocks/secildi_buttons


                                        .bill-order-content-footer
                                            .title Toplam
                                            .amount 9.00 TL

                        .apply-button.d-flex.mt-20
                            .button.button--light
                                span 542.00 TL
                            .button.button--red.button--icon.button--icon--right
                                span Hesabı Öde
                                i.icon-arrow-right
                #odenecek_urun_sayisi.popup.odenecek_urun_sayisi
                    .popup-content
                        .popup__baslik Ödenecek Ürün Sayısı Seçimi

                        .divider.divider--small
                        .popup__text
                            b.mr-1 Tereyağlı iskender
                            span ürününden kaç adet ödemek istediğinizi seçiniz.
                        .select-count
                            .select-count-button.left
                                i.icon-minus
                            .select-count-num 2
                            .select-count-button
                                i.icon-plus

                        .button.button--outline-red(onclick='$("#odenecek_urun_sayisi").removeClass("active")') Tamam
                #odeme_secenekleri.popup
                    .popup-content
                        .baslik
                            i.icon.icon-credit-card.mr-2
                            | Ödeme Seçenekleri
                        .divider.divider--small
                        ul.odeme_secenekleri
                            li Kredi Kartı (POS)
                            li Nakit Ödeme
                            li Online Ödeme
                            li Setcard
                            li Multinet
                            li Ticket Card
                            li Sodexo
                            li Sodexo

                        .button.button--outline-red(onclick='$("#odeme_secenekleri").removeClass("active")') Tamam









