extends blocks/layout
block vars
    - var index = true;

block append head
    title index
block append svg

block content
    .maincontainer
        .device-container
            .safearea
                .back
                    .back-item
                        i.icon-chevron-left
                        span(data-i18n="common.goBack") Go Back
                .enter_code.within_back_area
                    .scan_code-icon
                        i.icon-qr-code
                    .scan_code-text
                        span(data-i18n="scanCode.text") Scan the QR code on your table. Enjoy the convenience of ordering from your phone.
                    .button.button--red.button--icon--left.button--icon.scan_code-button
                        i.icon-qr-code
                        span(data-i18n="scanCode.scanButton") Scan QR Code

                    .scan_code-divider
                        span(data-i18n="common.or") or
                    .button.button--light.button--icon.button--icon--left
                        i.icon-keyboard
                        span(data-i18n="scanCode.manualEntry") Enter code manually
                    small.mt-1.text--light(data-i18n="scanCode.cameraIssue") If you have camera problems, you can enter the code manually.

