extends blocks/layout
block vars
    - var index = true;

block append head
    title index
block append svg

block content
    // This page is designed as the search focus state of the index page.
    .maincontainer
        .device-container
            .safearea
                .back
                    .back-item
                        i.icon-chevron-left
                        span(data-i18n="common.goBack") Go Back
                .within_back_area
                    .search_area
                        small.location
                            .location-icon
                                i.icon-map-pin
                            .location-text
                                | Kdz. Ereğli / Zonguldak
                        .input-wrapper.search
                            i.icon-search.input-icon
                            input.input(type="text",placeholder="Discover Now...",data-i18n-placeholder="index.discoverNow")
                            .filter.js-open-search-filter-modal
                                i.icon-filter.input-icon
                    .title.mt-10(data-i18n="search.searchResults") Search Results
                    .search-result-wrapper
                        .search-result-item.mt-10
                            .restaruant-item
                                .restaruant-item-image
                                    img(src="img/restaruant/starbucks.jpg")
                                .restaruant-item-content
                                    .title Starbucks Coffee
                                    .category(data-i18n="restaurantType.cafePastry") Cafe - Pastry
                                    .restaruant-item-content-footer
                                        .rating
                                            i.icon.icon-star
                                            span 4.2
                                        .distance
                                            i.icon.icon-placeholder
                                            span 2.5 Km
                                    .restaruant-item-save
                                        i.icon-heart-o
                            .food-item.food-item--extended
                                .food-item-content
                                    .food-item-content-top
                                        .food-item__title(data-i18n="food.chefsSpecialBurger") Chef's Special Burger
                                    .food-item-content-middle
                                        .food-item__ingredients(data-i18n="food.burgerIngredients")
                                            | 200g Special Hamburger Patty, Caramelized Onion, French Fries, Tomato, Special Sauce
                                    .food-item-content-bottom
                                        .food-item__price 19.90 TL
                            .food-item.food-item--extended
                                .food-item-content
                                    .food-item-content-top
                                        .food-item__title(data-i18n="food.chefsSpecialBurger") Chef's Special Burger
                                    .food-item-content-middle
                                        .food-item__ingredients(data-i18n="food.burgerIngredients")
                                            | 200g Special Hamburger Patty, Caramelized Onion, French Fries, Tomato, Special Sauce
                                    .food-item-content-bottom
                                        .food-item__price 17.00 TL
                            .food-item.food-item--extended
                                .food-item-content
                                    .food-item-content-top
                                        .food-item__title(data-i18n="food.chefsSpecialBurger") Chef's Special Burger
                                    .food-item-content-middle
                                        .food-item__ingredients(data-i18n="food.burgerIngredientsShort")
                                            | 200g Special Hamburger Patty
                                    .food-item-content-bottom
                                        .food-item__price 122.00 TL
                        .search-result-item.mt-10
                            .restaruant-item
                                .restaruant-item-image
                                    img(src="img/restaruant/starbucks.jpg")
                                .restaruant-item-content
                                    .title Starbucks Coffee
                                    .category(data-i18n="restaurantType.cafePastry") Cafe - Pastry
                                    .restaruant-item-content-footer
                                        .rating
                                            i.icon.icon-star
                                            span 4.2
                                        .distance
                                            i.icon.icon-placeholder
                                            span 2.5 Km
                                    .restaruant-item-save.fill
                                        i.icon-heart
                            .food-item.food-item--extended
                                .food-item-content
                                    .food-item-content-top
                                        .food-item__title(data-i18n="food.chefsSpecialBurger") Chef's Special Burger
                                    .food-item-content-middle
                                        .food-item__ingredients(data-i18n="food.burgerIngredients")
                                            | 200g Special Hamburger Patty, Caramelized Onion, French Fries, Tomato, Special Sauce
                                    .food-item-content-bottom
                                        .food-item__price 19.90 TL
                            .food-item.food-item--extended
                                .food-item-content
                                    .food-item-content-top
                                        .food-item__title(data-i18n="food.chefsSpecialBurger") Chef's Special Burger
                                    .food-item-content-middle
                                        .food-item__ingredients(data-i18n="food.burgerIngredients")
                                            | 200g Special Hamburger Patty, Caramelized Onion, French Fries, Tomato, Special Sauce
                                    .food-item-content-bottom
                                        .food-item__price 17.00 TL
                            .food-item.food-item--extended
                                .food-item-content
                                    .food-item-content-top
                                        .food-item__title(data-i18n="food.chefsSpecialBurger") Chef's Special Burger
                                    .food-item-content-middle
                                        .food-item__ingredients(data-i18n="food.burgerIngredientsShort")
                                            | 200g Special Hamburger Patty
                                    .food-item-content-bottom
                                        .food-item__price 122.00 TL


