extends blocks/layout
block vars

block append head
    title SMS Verification
block append svg

block content
    .maincontainer
        .device-container
            .safearea
                .sms
                    .sms__title(data-i18n="sms.title") SMS VERIFICATION
                    .sms__text(data-i18n="sms.text") Enter the 6-digit code sent to your phone.
                    .sms-input-wrapper.d-flex
                        input.sms-input.input
                        input.sms-input.input
                        input.sms-input.input
                        input.sms-input.input
                        input.sms-input.input
                    .button.button--red.mt-4
                        span(data-i18n="common.confirm") Confirm



