extends blocks/layout
block vars

block append head
    title Splash Page
block append svg

block content
    .maincontainer
        .device-container
            .safearea
                .splash-page
                    img(src="img/logo-white.svg")
                    p Cebindeki Menü





