body {
  font-family: $font-family-base;
  font-size: $font-size-body;
  overflow-x: hidden;
  background-color: $color-background;
  color: $color-text;

}

.maincontainer {
  display: flex;
  justify-content: center;
  .device-container {
    background-image: url("../img/device1.png");
    width: 425px;
    height: 700px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;

    .safearea {
      width: 304px;
      height: 596px;
      //background: #f7f7f7;
      background: #fff;
      margin-top: 52px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
}

// Tabbar

.tabbar {
  width: 100%;
  background: #FFF;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px 15px 0 0;
  padding: 5px 25px;
  box-shadow: 0 -10px 15px -15px rgba(13, 27, 56, .20);

  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    &.active {
      color: $color-red;
    }

    &.discover {
      background: $color-red;
      border-radius: 50%;
      color: #FFF;
      width: 70px;
      height: 70px;
      transform: translateY(0px);
      box-shadow: 0 0 0 5px #FFF, 0 -10px 15px -10px rgba(13, 27, 56, .20);
    }

    i {
      font-size: 20px;
      margin-bottom: 2px;
    }

    span {
      font-size: 12px;
      font-weight: 500;
    }

    .bildirim-icon {
      background: $color-red;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      position: absolute;
      top: 15px;
      right: 10px;

    }
  }
}

a{
  color: $color-text;
  &:hover{
    text-decoration: none;
    color: $color-text-dark;
  }
}