.restaruant-mainpage {
  flex: auto;
  min-height: calc(100% - 30px - 60px);
  overflow: auto;

  &-summary {
    padding: 0;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background: linear-gradient(180deg, $color-red, #000);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: .8;
      filter: blur(0px);
    }

    &-image {
      height: 100px;
      width: 100%;

      img {
        object-fit: cover;
        width: 100%;
        height: inherit;
      }
    }

    &-info {
      position: absolute;
      top: 50%;
      height: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% - 40px);
      z-index: 2;

      .restaruant-mainpage {
        &-name, &-sub_info {
          color: #FFF;
          text-align: center;
          justify-content: center;
          margin-top: 0;
        }
      }
    }
  }

  &-slider {
    height: 180px;
    width: 100%;
    overflow: hidden;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: inherit;
      height: inherit;
      background: linear-gradient(to bottom, transparent, rgba($color-title, .7));
      top: 0;
      left: 0;
    }

    img {
      height: inherit;
      width: inherit;
      object-fit: cover;
      object-position: top;
    }

    &__count {
      position: absolute;
      bottom: 5px;
      right: 10px;
      font-size: 13px;
      color: #FFF;
      z-index: 2;
      opacity: .6;
      letter-spacing: 2px;
    }
  }

  &-sub_info {
    color: $color-text-light;
    font-size: 14px;
    display: flex;
    align-items: center;

    i {
      font-size: 14px;
      margin-right: 4px;
    }

    .rating {

    }

    .address {
      font-weight: 300;
      display: flex;
      align-items: center;

      i {
        margin-right: 10px;
      }
    }


  }

  &-buttons {
    display: flex;
    align-items: center;

    &__item {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__icon {
      font-size: 20px;
    }

    &__title {
      font-size: 13px;
    }
  }

  .pins {
    margin-left: auto;
    color: $color-text;
    display: flex;
    flex-wrap: wrap;


    &-item {
      display: flex;
      align-items: center;
      font-size: 14px;
      width: calc(50% - 7px);
      margin-top: 5px;

      &-icon {
        background: linear-gradient(to bottom, $color-red, darken($color-red, 5%));
        display: flex;
        align-items: center;
        justify-content: center;
        width: 23px;
        height: 23px;
        color: #FFF;
        border-radius: 10px;
        flex-shrink: 0;
      }

      &-title {
        margin-left: 5px;
        line-height: 13px;
        font-size: 13px;
      }
    }
  }

  &-info {

    .title {
      font-size: $font-size-title--xxs;
      color: $color-title;
      font-weight: 500;
      padding-bottom: 5px;
    }

  }


  &-name {
    margin-top: 5px;
    font-size: $font-size-title--xs;
    font-weight: 500;
    color: $color-title;
  }
}

.restaruant-tabs {
  display: flex;
  padding: 5px 0;
  height: 50px;
  box-shadow: 0 -10px 15px -15px rgba(13, 27, 56, .20);

  &-item {
    flex: 1;
    font-weight: 400;
    transition: $transition;
    border-bottom: 2px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-size: 12px;

    i {
      font-size: 13px;
    }

    &--more {
      display: flex;
      align-items: center;

      i {
        margin-right: 5px;
      }

      span {
        color: $color-red;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -1px;
        line-height: 1em;
      }
    }

    &.active {
      border-bottom-color: $color-red;
    }
  }
}


.restaruants {
  &-slider {
    overflow-x: auto;
    max-width: 100%;
    display: flex;
    height: 170px;
  }
}

// Restoran item
.restaruant-item {
  display: flex;
  flex-direction: column;
  min-height: 150px;
  height: 161px;
  width: 180px;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 20px;
  flex-shrink: 0;
  box-shadow: 0 4px 10px -5px $color-shadow;
  background: #FFF;

  &-image {
    height: 100px;
    width: 180px;
    overflow: hidden;
    border-radius: 0 0 10px 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-content {
    padding: 5px;

    .title {
      font-size: 14px;
      color: $color-title;
    }

    .category {
      font-size: 10px;
      color: $color-text-light;
    }

    &-footer {
      color: $color-text-light;
      font-size: 10px;
      display: flex;
      align-items: center;

      i {
        font-size: 10px;
        margin-right: 4px;
      }

      .rating {

      }

      .distance {
        margin-left: 5px;
      }

      .pins {
        margin-left: auto;

        i {
          font-size: 12px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}


// Restoran Menü

.foods-menu {
  margin-bottom: 15px;

  &__title {
    font-size: 16px;
  }

  &-items {
    .food-item {
      margin-top: 10px;
    }
  }
}

// Restoran Yorumlar

.comments {
  &-add {
    text-align: right;
    margin-bottom: 5px;
    color: $color-red;
  }

  &-filter {
    &-wrapper {
      max-width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      overflow-x: auto;
      margin-top: 10px;
    }

    &-item {
      flex-shrink: 0;
      margin-right: 10px;
      padding: 5px 10px;
      border: 1px solid rgba($color-text-light, .2);
      border-radius: 4px;
      color: $color-text-light;
      font-weight: 300;
      font-size: 13px;
      background: #FFF;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 32px;

      &.active {
        border-color: $color-red;
        background-color: $color-red;
        color: #FFF;
        font-weight: 500;
      }

      i {
        color: $color-yellow;
        margin-right: 5px;
      }
    }
  }

  &-item {
    background: #FFF;
    padding: 10px 20px;

    &-head {
    }

    &-profile {
      display: flex;

      &__image {
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 50%;

        img {
          width: inherit;
          height: inherit;
          object-fit: cover;
          object-position: top center;
        }
      }


      &__star {
        i {
          color: $color-yellow;

        }

        i + i {
          margin-left: 3px;
        }
      }
    }

    &-info {
      margin-left: 10px;
      padding-right: 15px;
    }

    &__date {
      color: $color-text-light;
      font-weight: 300;
      font-size: 12px;
      margin-left: auto;
    }

    &-content {
      margin-top: 5px;
      padding-top: 5px;
      border-top: 1px dashed $color-divider;

      &__text {
        color: $color-text-light;
        font-size: 13px;
        font-weight: 300;
        line-height: 1.4em;
      }

      &-images {
        display: flex;
        width: 100%;
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px dashed $color-divider;
        overflow-x: scroll;

        &__item {
          width: 60px;
          height: 60px;
          overflow: hidden;
          border-radius: 7px;
          margin-right: 10px;
          flex-shrink: 0;

          img {
            width: inherit;
            height: inherit;
            object-fit: cover;
            object-position: top center;
          }
        }
      }
    }
  }
}

// Yorum Yazma - Sipariş seçim adımı
.order-item-input {
  display: none;

  &_wrapper {
    & + & {
      margin-top: 20px;
    }
  }

  &:checked + .order-item {
    .select_area {
      background: $color-red;

      .icon {
        opacity: 1;
      }
    }
  }
}

.order-item {
  display: flex;

  &-image {
    height: 60px;
    width: 60px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    flex-shrink: 0;

    .select_area {
      position: absolute;
      top: 2px;
      left: 2px;
      border-radius: 50%;
      font-weight: 300;
      width: 18px;
      height: 18px;
      font-size: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #FFF;
      transition: .1s;

      .icon {
        opacity: 0;
        transition: .1s;
        color: #FFF;
      }
    }

    img {
      width: inherit;
      height: 100%;
      object-fit: cover;
    }
  }

  &-content {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__title {
      font-size: 14px;
      color: $color-title;
    }


    &__text {
      color: $color-text-light;
      font-size: 10px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      span {
        flex-shrink: 0;
        margin-right: 5px;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100px;
        position: relative;
        padding-left: 5px;

        &::before {
          content: "";
          width: 3px;
          height: 3px;
          position: absolute;
          top: 50%;
          left: 0;
          border-radius: 50%;
          transform: translateY(-50%);
          background: $color-text-light;

        }
      }
    }

    &__amount {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      border-top: 1px dashed $color-divider;
      padding-top: 3px;
      margin-top: 5px;

      span {
        color: $color-red;
      }
    }
  }
}

.comment-write {
  &__title {
    text-align: left;
    margin-bottom: 10px;
    margin-top: 15px;
    color: $color-title;
  }

  &-star-content {
    display: flex;
    justify-content: center;

    &:hover {
      i {
        color: $color-yellow;
      }
    }

    i {
      font-size: 40px;
      color: $color-text-light;
      transition: .3s;
    }
  }

  .star + .star {
    margin-left: 7px;
  }

  &-upload {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    max-width: 100%;

    &__image {
      height: 60px;
      width: 60px;
      overflow: hidden;
      border-radius: 10px;
      position: relative;
      flex-shrink: 0;

      & + & {
        margin-left: 15px;
      }

      img {
        width: inherit;
        height: inherit;
        object-fit: cover;
      }

    }

    &__close {
      width: 16px;
      height: 16px;
      background: rgba(#FFF, .6);
      color: $color-title;
      font-size: 8px;
      border-radius: 50%;
      position: absolute;
      top: 2px;
      right: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .upload-image {
      background: rgba($color-text-light, .2);
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-text-light;
      font-size: 25px;
    }
  }
}

.customize-food {
  &__title {
    font-size: 14px;
    color: $color-text-light;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
    font-weight: 500;
  }

  &__text {
    font-size: 10px;
    font-weight: 300;
    color: $color-text-light;
    opacity: .7;
  }

  &-item {
    width: 100%;

    &__image {
      height: 130px;
      width: 100%;
      background: #fafafa;

      img {
        object-fit: contain;
        width: inherit;
        height: inherit;
      }
    }


    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      width: 100%;
      margin-top: 10px;

      &__title {
        font-size: 16px;
        line-height: 1.4em;
        margin-bottom: 5px;
      }

      &__ingredients {
        font-size: 10px;
        color: $color-text-light;
        font-weight: 300;
        overflow: hidden;
        line-height: 13px;
      }

      /*    &__amount {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            border-top: 1px dashed $color-divider;
            padding-top: 3px;
            margin-top: 5px;

            span {
              color: $color-red;
            }
          }*/
      &-selects {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        .select-item {
          display: inline-flex;
          margin-right: 10px;

        }
      }
    }
  }
}

#customizeFood {
  .bottom-modal-content {
    padding-bottom: 60px;
  }
}

#createReservation {
  .bottom-modal-content {
    padding-bottom: 60px;
  }
}

#bill {
  .bottom-modal-content {
    padding-bottom: 100px;
  }
}

.add-cart-buttons {

  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFF;

}

.select-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  flex-shrink: 0;
  margin-right: 10px;

  &-button {
    width: 27px;
    border-radius: 0 $border-radius $border-radius 0;
    height: 40px;
    color: $color-title;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eee;
    background: #FFF;
    border-left: 0;

    &.left {
      border-radius: $border-radius 0 0 $border-radius;
      border-right: 0;
      border-left: 1px solid #eee;


    }
  }

  &-num {
    width: 27px;
    height: 40px;
    background: $color-red;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.add-cart-button {
  padding-left: 10px;
  font-size: 12px;

  &__amount {
    color: $color-red;
    margin-left: auto;
    background: #FFF;
    border-radius: 0 $border-radius $border-radius 0;
    height: 100%;
    padding: 0 15px 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0% 100%);
    font-size: 12px;

  }
}

.cart-button {
  padding: 5px 10px;
  background: $color-red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 12px;
  border-radius: $border-radius;
  //margin-right: 10px;
  i {
    margin-right: 5px;
    font-size: 10px;
  }
}


.bill {
  &-title {
    font-size: 20px;
    text-align: center;
    color: $color-title;
    margin-bottom: 10px;
    font-weight: 500;
  }

  &-order {
    .button {
      font-size: 13px;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      /*border-bottom: 1px solid $color-divider;
      padding-bottom: 15px;
     */
      margin-bottom: 15px;

      &__title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .name {
          color: $color-title;
          font-size: 15px;
        }

        .date {
          color: $color-text-light;
          font-size: 13px;
        }
      }

      &__table-no {

      }
    }

    &-content {
      margin-bottom: 20px;
      padding: 10px;
      box-shadow: 0 0 10px $color-shadow;
      border-radius: 10px;

      &__title {
        font-size: 14px;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        line-height: 17px;
        align-items: flex-start;
        max-width: 150px;

        span {
          color: $color-text-light;
          font-size: 11px;
          font-weight: 300;
          text-overflow: ellipsis;
          max-width: 140px;
          overflow: hidden;
          white-space: nowrap;
        }

        &-header {

        }
      }

      &-header {
        display: flex;
        justify-content: space-between;
      }

      &-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        border-top: 1px dashed $color-divider;
        padding-top: 5px;
      }

      &-items {
        margin-top: 15px;

      }

      &-item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        &.odendi {
          opacity: .4;

          .product {
            &-count {
              filter: grayscale(1);
            }

            &-name {
              text-decoration: line-through;
            }

            &-price {
              text-decoration: line-through;
            }
          }
        }

        &.secildi {
          flex-wrap: wrap;

          .product {
            &-count {
              background-color: $color-orange;
            }
          }

          .secildi-text {
            display: flex;
            justify-content: space-between;
            font-size: 12px;
            font-weight: 300;
            color: $color-orange--dark;
            text-align: left;
            width: 100%;

            &__button {
              background-color: $color-text-dark;
              color: #FFF;
              padding: 2px 6px;
              font-size: 9px;
              border-radius: 4px;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            .sil__button {
              background-color: $color-text-dark;
              color: #FFF;
              padding: 0;
              width: 20px;
              height: 20px;
              font-size: 8px;
              border-radius: 4px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }

        .kismi_odeme {
          position: absolute;
          font-size: 10px;
          color: $color-text-light;
          opacity: .6;
          font-weight: 300;
        }

        .product {
          &-count {
            margin-right: 5px;
            background-color: $color-red;
            color: #FFF;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            width: 20px;
            flex-shrink: 0;
            height: 20px;
          }

          &-name {
            color: $color-text-dark;
            font-size: 12px;
            position: relative;
          }

          &-price {
            color: $color-red;
            font-size: 14px;
          }
        }
      }
    }
  }

  .apply-button {
    background-color: #FFF;

    .button--light {
      width: auto;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: 10px;
      flex-shrink: 0;
    }

    .button--red {
      margin-top: 0;
    }
  }
}

.bill-order-content-item + .bill-order-content-item {
  margin-top: 10px;
}

#sepet {
  .food-item {
    height: 60px;
  }

  .food-item + .food-item {
    margin-top: 10px;
  }
}

.odeme_secenekleri {
  padding-left: 20px;
}

.odenecek_urun_sayisi {
  .select-count {
    margin: 20px auto;
    width: 83px;
  }
}

.renk_turleri {
  display: flex;
  justify-content: center;
  font-size: 12px;
  color: $color-text-light;
  font-weight: 300;

  &-item {
    margin-right: 10px;
    display: flex;
    align-items: center;

    p {
      margin-bottom: 0;
    }

    &.black {
      span {
        background-color: #b5b5b5;
      }
    }

    &.red {
      span {
        background-color: $color-red;
      }

    }

    &.orange {
      span {
        background-color: $color-orange;
      }
    }

    span {
      display: block;
      border-radius: 3px;
      width: 12px;
      height: 12px;
      margin-right: 5px;
    }

  }
}

.siparis-ozeti {
  position: relative;

  &::after {
    content: '';
    height: 20px;
    width: 100%;
    background: linear-gradient(to top, #fff, transparent);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
  }

  &__title {

  }

  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: $color-text-light;

    &__title {

    }
  }
}

.tumunu-gor {
  color: $color-text;
  opacity: .6;
  font-size: 12px;
  margin-top: -3px;
  margin-bottom: 10px;

  i {
    transform: scale(1.5);
  }
}

.odeme-turu {
  &__title {
    margin-bottom: 5px;
  }

  &-aciklama {
    font-size: 12px;
    color: $color-text-light;
    font-weight: 300;
    text-align: left;
  }
}

.accept-cards {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  width: 100%;

  &__item {
    height: 30px;

    img {
      height: inherit;
    }
  }
}

.secure {
  margin-top: 10px;
  display: flex;
  align-items: center;

  img {
    width: 40px;
    margin-right: 10px;
  }

  p {
    margin-bottom: 0;
    color: $color-text-light;
    font-size: 10px;
    line-height: 1.3em;
  }
}