.restaruant-mainpage {
  flex: auto;
  min-height: calc(100% - 30px - 60px);
  overflow: auto;

  &-slider {
    height: 180px;
    width: 100%;
    overflow: hidden;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: inherit;
      height: inherit;
      background: linear-gradient(to bottom, transparent, rgba($color-title, .7));
      top: 0;
      left: 0;
    }

    img {
      height: inherit;
      width: inherit;
      object-fit: cover;
      object-position: top;
    }
    &__count{
      position: absolute;
      bottom: 5px;
      right: 10px;
      font-size: 13px;
      color: #FFF;
      z-index: 2;
      opacity: .6;
      letter-spacing: 2px;
    }
  }

  &-sub_info {
    color: $color-text-light;
    font-size: 14px;
    display: flex;
    align-items: center;

    i {
      font-size: 14px;
      margin-right: 4px;
    }

    .rating {

    }

    .address {
      font-weight: 300;
    }


  }

  &-buttons {
    display: flex;
    align-items: center;

    &__item {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &__icon{
      font-size: 20px;
    }
    &__title{
      font-size: 13px;
    }
  }

  .pins {
    margin-left: auto;
    color: $color-text;
    display: flex;
    flex-wrap: wrap;


    &-item {
      display: flex;
      align-items: center;
      font-size: 14px;
      width: calc(50% - 7px);
      margin-top: 5px;

      &-icon {
        background: linear-gradient(to bottom, $color-red, darken($color-red, 5%));
        display: flex;
        align-items: center;
        justify-content: center;
        width: 23px;
        height: 23px;
        color: #FFF;
        border-radius: 10px;
        flex-shrink: 0;
      }

      &-title {
        margin-left: 5px;
        line-height: 13px;
        font-size: 13px;
      }
    }
  }

  &-info {

    .title {
      font-size: $font-size-title--xxs;
      color: $color-title;
      font-weight: 500;
      padding-bottom: 5px;
    }

  }


  &-name {
    margin-top: 5px;
    font-size: $font-size-title--xs;
    font-weight: 500;
    color: $color-title;
  }
}

.restaruant-tabs {
  display: flex;
  padding: 5px 0;
  height: 50px;
  box-shadow: 0 -10px 15px -15px rgba(13, 27, 56, .20);

  &-item {
    flex: 1;
    font-weight: 400;
    transition: $transition;
    border-bottom: 2px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    &.active {
      border-bottom-color: $color-red;
    }
  }
}


.restaruants {
  &-slider {
    overflow-x: auto;
    max-width: 100%;
    display: flex;
    height: 170px;
  }
}

// Restoran item
.restaruant-item {
  display: flex;
  flex-direction: column;
  min-height: 150px;
  height: 161px;
  width: 180px;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 20px;
  flex-shrink: 0;
  box-shadow: 0 4px 10px -5px $color-shadow;
  background: #FFF;

  &-image {
    height: 100px;
    width: 180px;
    overflow: hidden;
    border-radius: 0 0 10px 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-content {
    padding: 5px;

    .title {
      font-size: 14px;
      color: $color-title;
    }

    .category {
      font-size: 10px;
      color: $color-text-light;
    }

    &-footer {
      color: $color-text-light;
      font-size: 10px;
      display: flex;
      align-items: center;

      i {
        font-size: 10px;
        margin-right: 4px;
      }

      .rating {

      }

      .distance {
        margin-left: 5px;
      }

      .pins {
        margin-left: auto;

        i {
          font-size: 12px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
