.scan_code {
  flex: 1;
  min-height: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  padding: $padding-normal;
  align-items: center;
  justify-content: center;

  &-icon {
    font-size: 100px;
    margin-bottom: 20px;
  }

  &-text {
    text-align: center;
  }

  &-divider {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 13px;
    color: $color-text-light;
  }
  &-button{
    margin-top: 20px;
  }
}
