.scan_code {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-icon {
    font-size: 100px;
    margin-bottom: 20px;
    img{
      width: 1em;
    }
  }

  &-text {
    text-align: center;
  }

  &-divider {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 13px;
    color: $color-text-light;
  }

  &-button {
    margin-top: 20px;
  }
}

.enter_code {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &-icon {
    font-size: 100px;
    margin-bottom: 20px;
  }

  &-form{
    display: flex;
  }
}
