.food-item.food-item--extended.food-item
    .food-item__image
        img(src="img/food/hamburger.jpg")
    .food-item-content
        .food-item-content-top
            .food-item__title Şefin Özel Burgeri
            .food-item__add-cart(onclick='$("#customizeFood").addClass("active")')
                i.icon.icon-plus-square
        .food-item-content-middle
            .food-item__ingredients
                | 200gr Özel Hamburger Köftesi, Karamelize Soğan, Patates Kızartması, Domates, Özel Sos
        .food-item-content-bottom
            .food-item__price 19.90 TL
            .food-item__count.input-button-group
                .button.button--light.button--icon
                    i.icon.icon-chevron-left
                input.input(type="text",value="1")
                .button.button--light.button--icon
                    i.icon.icon-chevron-right
