#krediKartiOdeme.bottom-modal
    .bottom-modal__divider(onclick='$("#krediKartiOdeme").removeClass("active")')
        span
    .bottom-modal-content
        .bottom-modal-content__title(data-i18n="creditCard.title") Credit Card Payment
        p.bottom-modal-content__text(data-i18n="paymentType.amountToPay") Amount to be paid
            b.ml-1 122.15 TL
        .divider
        form
            .input-group
                .input-group-title(data-i18n="creditCard.fullName") Full Name
                .input-wrapper
                    input.input.no-icon(type="text",placeholder="Cardholder Full Name",data-i18n-placeholder="creditCard.cardholderName")
            .input-group
                .input-group-title(data-i18n="creditCard.cardNumber") Card Number
                .input-wrapper
                    input.input.no-icon(type="number",placeholder="Card Number",data-i18n-placeholder="creditCard.cardNumber")
            .input-group
                .input-group-item
                    .input-group-title(data-i18n="creditCard.month") Month
                    .input-wrapper
                        select.w-100
                            option 01
                            option 02
                            option 03
                            option 04
                            option 05
                            option 06
                            option 07
                            option 08
                            option 09
                            option 10
                            option 11
                            option 12
                .input-group-item
                    .input-group-title(data-i18n="creditCard.year") Year
                    .input-wrapper
                        select.w-100
                            option 2020
                            option 2021
                            option 2022
                            option 2023
            .input-group
                .input-group-title(data-i18n="creditCard.cvv") CVV Code
                .input-wrapper
                    input.input.no-icon(type="number",placeholder="CVV Code",data-i18n-placeholder="creditCard.cvv")

        .apply-button.button.button--red.button--icon.button--icon--right.mt-20
            span(data-i18n="common.continue") Continue
            i.icon-arrow-right
        .secure
            img(src='img/secure2.svg' alt='')
            p(data-i18n="creditCard.securityNote") Your credit card information is securely protected and is never stored.

        .accept-cards
            .accept-cards__item
                img(src='img/banka/mastercard.png' alt='')
            .accept-cards__item
                img(src='img/banka/american-express.png' alt='')
            .accept-cards__item
                img(src='img/banka/visa.png' alt='')
            .accept-cards__item
                img(src='img/banka/maestro.png' alt='')
            .accept-cards__item
                img(src='img/banka/jcb.png' alt='')
