doctype html
html(lang="tr")
    head
        block head
            meta(charset='UTF-8')
            meta(http-equiv='X-UA-Compatible', content='IE=edge')
            meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
            //base(href="http://wunderdesigns.at/demo/ceptemenu/")
        block styles
            link(href="css/style.css",rel='stylesheet')
    body
        block vars

        block svg

        block header
            label.mobil_menu_linkler(for="linkler")
                i.icon.icon-align-justify
            input#linkler(type="checkbox")
            .linkler
                ul
                    li
                        a(href="splash-page.html") Splash Page
                    li
                        a(href="index.html") Index
                    li
                        a(href="login.html") Login
                    li
                        a(href="signup.html") Signup
                    li
                        a(href="forgotpassword.html") Forgot Password
                    li
                        a(href="forgotpassword-confirm.html") Forgot Password Confirm
                    li
                        a(href="scan-code.html") Scan Code
                    li
                        a(href="enter-code.html") Enter Code
                    li
                        a(href="restaruant-mainpage.html") Restaruant Mainpage
                    li
                        a(href="search-page.html") Search Page
                    li
                        a(href="profile.html") Profile
                    li
                        a(href="sms-enter.html") Sms Enter
                    li
                        a(href="icerik-yok.html") İçerik Yok

        // İçerik Başlangıç
        block content



        // İçerik Bitiş
        block footer




        block scripts
            script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
            script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
            script(src="js/all.js")


