#odeme_secenekleri.popup
    .popup-content
        .popup__baslik
            i.icon.icon-credit-card.mr-2
            | Ödeme Seçenekleri
        .divider.divider--small
        ul.odeme_secenekleri
            li Kredi Kartı (POS)
            li Nakit Ödeme
            li Online Ödeme
            li Setcard
            li Multinet
            li Ticket Card
            li Sodexo
            li Sodexo

        .button.button--outline-red(onclick='$("#odeme_secenekleri").removeClass("active")') Tamam
