#odenecek_urun_sayisi.popup.odenecek_urun_sayisi
    .popup-content
        .popup__baslik Ödenecek Ürün Sayısı Seçimi

        .divider.divider--small
        .popup__text
            b.mr-1 Tereyağlı iskender
            span ürününden kaç adet ödemek istediğinizi seçiniz.
        .select-count
            .select-count-button.left
                i.icon-minus
            .select-count-num 2
            .select-count-button
                i.icon-plus-square

        .button.button--outline-red(onclick='$("#odenecek_urun_sayisi").removeClass("active")') Tamam
