.d-flex
    .secildi-text__button(onclick='$("#odenecek_urun_sayisi").addClass("active")') Değiştir
    .sil__button.ml-1(onclick='$(this).parent().parent().parent().removeClass("secildi");$(this).parent().parent(".secildi-text").remove();')
        i.icon.icon-close