.tabbar
    .tabbar-item
        i.icon-home
        span Anasayfa
    .tabbar-item.discover
        i.icon-search
        span Keşfet
    .tabbar-item.active
        i.icon-user
        span Profilim
        .bildirim-icon