.tabbar
    .tabbar-item
        i.icon-home
        span(data-i18n="tabbar.home") Home
    .tabbar-item.discover
        i.icon-chevron-up
        span(data-i18n="tabbar.discover") Discover
    a(href="profile.html").tabbar-item.active
        i.icon-user
        span(data-i18n="tabbar.profile") My Profile
        .bildirim-icon