@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/SofiaPro-Medium.woff2') format('woff2'),
  url('../fonts/SofiaPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/SofiaPro-Bold.woff2') format('woff2'),
  url('../fonts/SofiaPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/SofiaPro-Light.woff2') format('woff2'),
  url('../fonts/SofiaPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/SofiaProRegular.woff2') format('woff2'),
  url('../fonts/SofiaProRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

