@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?11069964');
  src: url('../fonts/fontello.eot?11069964#iefix') format('embedded-opentype'),
  url('../fonts/fontello.woff2?11069964') format('woff2'),
  url('../fonts/fontello.woff?11069964') format('woff'),
  url('../fonts/fontello.ttf?11069964') format('truetype'),
  url('../fonts/fontello.svg?11069964#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../../fonts/fontello.svg?11069964#fontello') format('svg');
  }
}
*/
[class^="icon-"] {
  line-height: 1em;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;


  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}


.icon-arrow-left:before { content: '\e800'; } /* '' */
.icon-garbage:before { content: '\e801'; } /* '' */
.icon-double-check:before { content: '\e802'; } /* '' */
.icon-hand:before { content: '\e803'; } /* '' */
.icon-menu:before { content: '\e804'; } /* '' */
.icon-heart:before { content: '\e805'; } /* '' */
.icon-home:before { content: '\e806'; } /* '' */
.icon-like:before { content: '\e807'; } /* '' */
.icon-link:before { content: '\e808'; } /* '' */
.icon-logout:before { content: '\e809'; } /* '' */
.icon-search:before { content: '\e80a'; } /* '' */
.icon-monitor:before { content: '\e80b'; } /* '' */
.icon-cancel:before { content: '\e80c'; } /* '' */
.icon-next-angle:before { content: '\e80e'; } /* '' */
.icon-lock:before { content: '\e80f'; } /* '' */
.icon-check-circle:before { content: '\e810'; } /* '' */
.icon-phone-call:before { content: '\e811'; } /* '' */
.icon-check:before { content: '\e812'; } /* '' */
.icon-arrow-share:before { content: '\e813'; } /* '' */
.icon-bookmark:before { content: '\e814'; } /* '' */
.icon-placeholder:before { content: '\e815'; } /* '' */
.icon-printer:before { content: '\e816'; } /* '' */
.icon-reload:before { content: '\e817'; } /* '' */
.icon-settings:before { content: '\e818'; } /* '' */
.icon-filter:before { content: '\e819'; } /* '' */
.icon-share:before { content: '\e81a'; } /* '' */
.icon-yes-smoking:before { content: '\e81b'; } /* '' */
.icon-shopping-cart:before { content: '\e81c'; } /* '' */
.icon-shuffle:before { content: '\e81d'; } /* '' */
.icon-guitar:before { content: '\e81e'; } /* '' */
.icon-star:before { content: '\e81f'; } /* '' */
.icon-tag:before { content: '\e820'; } /* '' */
.icon-upload-cloud:before { content: '\e821'; } /* '' */
.icon-upload:before { content: '\e822'; } /* '' */
.icon-avatar:before { content: '\e824'; } /* '' */
.icon-arrow-right:before { content: '\e825'; } /* '' */
.icon-back:before { content: '\e826'; } /* '' */
.icon-arrow-up:before { content: '\e829'; } /* '' */
.icon-arrow-down:before { content: '\e82a'; } /* '' */
.icon-chat:before { content: '\e82b'; } /* '' */
.icon-copy:before { content: '\e82c'; } /* '' */
.icon-dislike:before { content: '\e82d'; } /* '' */
.icon-cancel-circle:before { content: '\e82e'; } /* '' */
.icon-download:before { content: '\e82f'; } /* '' */
.icon-edit:before { content: '\e830'; } /* '' */
.icon-envelope:before { content: '\e831'; } /* '' */
.icon-youtube:before { content: '\e832'; } /* '' */
.icon-instagram:before { content: '\e833'; } /* '' */
.icon-no-smoking:before { content: '\e834'; } /* '' */
.icon-eye:before { content: '\e835'; } /* '' */
.icon-eye-close:before { content: '\e836'; } /* '' */
.icon-twitter:before { content: '\e837'; } /* '' */
.icon-whatsapp:before { content: '\e838'; } /* '' */
.icon-qr-code:before { content: '\e870'; } /* '' */
.icon-qr-code-scan:before { content: '\e872'; } /* '' */